
html {
  font-family: system-ui, sans-serif;
}

body {
  background-color: var(--color-bg-block-primary-default);
  color: var(--color-text-block-primary-default);
}

.VPContent {
  background-color: var(--color-bg-block-primary-default);
  color: var(--color-text-block-primary-default);
}

.VPNav {
  background-color: var(--color-bg-block-primary-default);
  color: var(--color-text-block-primary-default);
  border-bottom: 1px solid var(--color-border-block-primary-default);
}

.VPNav .container .title {
  color: var(--color-text-block-primary-default);
}

.VPNav .title {
  border-bottom: none !important;
}

.VPNav .content {
  border-bottom: none !important;
}

.VPNav .content-body {
  background-color: var(--color-bg-block-primary-default) !important;
  color: var(--color-text-block-primary-default);
}

.VPNav .divider {
  display: none;
}

.VPSidebar {
  background-color: var(--color-bg-block-primary-default) !important;
  color: var(--color-text-block-primary-default);
  border-right: 1px solid var(--color-border-block-primary-default);
}

.VPSidebarItem .item p.text {
  color: var(--color-text-block-primary-default) !important;
}
