
html {
  font-family: system-ui, sans-serif;
}

body {
  background-color: var(--color-bg-block-primary-default);
  color: var(--color-text-block-primary-default);
}

.Layout {
  height: 100vh;
}

.VPNav {
  position: relative !important;
  background-color: var(--color-bg-block-primary-default);
  color: var(--color-text-block-primary-default);
  border-bottom: 1px solid var(--color-border-block-primary-default);
}

.VPNav .container .title {
  color: var(--color-text-block-primary-default);
}

.VPNav .title {
  border-bottom: none !important;
}

.VPNav .content {
  border-bottom: none !important;
}

.VPNav .content-body {
  background-color: var(--color-bg-block-primary-default) !important;
  color: var(--color-text-block-primary-default);
}

.VPNav .divider {
  display: none;
}

.VPSidebar {
  background-color: var(--color-bg-block-primary-default) !important;
  color: var(--color-text-block-primary-default);
  border-right: 1px solid var(--color-border-block-primary-default);
}

.VPSidebarItem .item p.text {
  color: var(--color-text-block-primary-default) !important;
}

.VPContent {
  position: relative !important;
  height: calc(100vh - 72px) !important;
  background-color: var(--color-bg-block-primary-default);
  color: var(--color-text-block-primary-default);
}

.VPDoc {
  position: relative !important;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.VPDoc .content .content-container {
  max-width: 100% !important;
}

.VPDoc .container .aside {
  display: none !important;
}
