html {
  overflow: hidden;
  font-family: Inter, system-ui, sans-serif;
}

section,
div {
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
