[data-icon='ad-group-outline'] {
  --svg: url('../icons/material-symbols--ad-group-outline.svg');
}

[data-icon='cloud-alert-outline-rounded'] {
  --svg: url('../icons/material-symbols--cloud-alert-outline-rounded.svg');
}

[data-icon='cloud-off-rounded'] {
  --svg: url('../icons/material-symbols--cloud-off-rounded.svg');
}

[data-icon='drag-pan'] {
  --svg: url('../icons/material-symbols--drag-pan.svg');
}

[data-icon='cloud-remove'] {
  --svg: url('../icons/ci--cloud-remove.svg');
}

[data-icon='expand-screen'] {
  --svg: url('../icons/ci--expand.svg');
}

[data-icon='heading-h1'] {
  --svg: url('../icons/ci--heading-h1.svg');
}

[data-icon='heading-h2'] {
  --svg: url('../icons/ci--heading-h2.svg');
}

[data-icon='heading-h3'] {
  --svg: url('../icons/ci--heading-h3.svg');
}

[data-icon='binary-tree'] {
  --svg: url('../icons/tabler--binary-tree.svg');
}

[data-icon='deployed-code-update'] {
  --svg: url('../icons/material-symbols--deployed-code-update-outline-rounded.svg');
}

[data-icon='file-zip'] {
  --svg: url('../icons/tabler--file-zip.svg');
}

[data-icon='baseline-delete'] {
  --svg: url('../icons/ic--baseline-delete.svg');
}

[data-icon='baseline-delete-forever'] {
  --svg: url('../icons/ic--baseline-delete-forever.svg');
}

[data-icon='vertical-align-top'] {
  --svg: url('../icons/ic--baseline-vertical-align-top.svg');
}

[data-icon='outline-account-circle'] {
  --svg: url('../icons/ic--outline-account-circle.svg');
}

[data-icon='outline-add-moderator'] {
  --svg: url('../icons/ic--outline-add-moderator.svg');
}

[data-icon='outline-add-reaction'] {
  --svg: url('../icons/ic--outline-add-reaction.svg');
}

[data-icon='outline-admin-panel'] {
  --svg: url('../icons/ic--outline-admin-panel-settings.svg');
}

[data-icon='outline-arrow-drop-down'] {
  --svg: url('../icons/ic--outline-arrow-drop-down.svg');
}

[data-icon='outline-audio-file'] {
  --svg: url('../icons/ic--outline-audio-file.svg');
}

[data-icon='outline-av-timer'] {
  --svg: url('../icons/ic--outline-av-timer.svg');
}

[data-icon='outline-bookmark-add'] {
  --svg: url('../icons/ic--outline-bookmark-add.svg');
}

[data-icon='outline-change-circle'] {
  --svg: url('../icons/ic--outline-change-circle.svg');
}

[data-icon='outline-chat'] {
  --svg: url('../icons/ic--outline-chat.svg');
}

[data-icon='outline-circle'] {
  --svg: url('../icons/ic--outline-circle.svg');
}

[data-icon='outline-cleaning-services'] {
  --svg: url('../icons/ic--outline-cleaning-services.svg');
}

[data-icon='outline-cloud'] {
  --svg: url('../icons/ic--outline-cloud.svg');
}

[data-icon='outline-cloud-download'] {
  --svg: url('../icons/ic--outline-cloud-download.svg');
}

[data-icon='outline-cloud-upload'] {
  --svg: url('../icons/ic--outline-cloud-upload.svg');
}

[data-icon='outline-color-lens'] {
  --svg: url('../icons/ic--outline-color-lens.svg');
}

[data-icon='outline-delete'] {
  --svg: url('../icons/ic--outline-delete.svg');
}

[data-icon='outline-delete-forever'] {
  --svg: url('../icons/ic--outline-delete-forever.svg');
}

[data-icon='outline-download-for-offline'] {
  --svg: url('../icons/ic--outline-download-for-offline.svg');
}

[data-icon='outline-edit'] {
  --svg: url('../icons/ic--outline-edit.svg');
}

[data-icon='outline-file-download'] {
  --svg: url('../icons/ic--outline-file-download.svg');
}

[data-icon='outline-file-present'] {
  --svg: url('../icons/ic--outline-file-present.svg');
}

[data-icon='outline-file-upload'] {
  --svg: url('../icons/ic--outline-file-upload.svg');
}

[data-icon='outline-folder'] {
  --svg: url('../icons/ic--outline-folder.svg');
}

[data-icon='round-folder-data'] {
  --svg: url('../icons/material-symbols--folder-data-rounded.svg');
}

[data-icon='outline-folder-open'] {
  --svg: url('../icons/material-symbols--folder-open-outline.svg');
}

[data-icon='outline-hard-drive'] {
  --svg: url('../icons/material-symbols--hard-drive-outline.svg');
}

[data-icon='outline-heart-plus'] {
  --svg: url('../icons/material-symbols--heart-plus-outline-rounded.svg');
}

[data-icon='lock-open-rounded'] {
  --svg: url('../icons/material-symbols--lock-open-rounded.svg');
}

[data-icon='outline-image'] {
  --svg: url('../icons/ic--outline-image.svg');
}

[data-icon='outline-info'] {
  --svg: url('../icons/ic--outline-info.svg');
}

[data-icon='outline-insert-emoticon'] {
  --svg: url('../icons/ic--outline-insert-emoticon.svg');
}

[data-icon='outline-looks-1'] {
  --svg: url('../icons/ic--outline-looks-1.svg');
}

[data-icon='outline-looks-2'] {
  --svg: url('../icons/ic--outline-looks-2.svg');
}

[data-icon='outline-looks-3'] {
  --svg: url('../icons/ic--outline-looks-3.svg');
}

[data-icon='outline-looks-4'] {
  --svg: url('../icons/ic--outline-looks-4.svg');
}

[data-icon='outline-looks-5'] {
  --svg: url('../icons/ic--outline-looks-5.svg');
}

[data-icon='outline-looks-6'] {
  --svg: url('../icons/ic--outline-looks-6.svg');
}

[data-icon='outline-mail'] {
  --svg: url('../icons/ic--outline-mail.svg');
}

[data-icon='outline-markdown-copy'] {
  --svg: url('../icons/material-symbols--markdown-copy-outline-rounded.svg');
}

[data-icon='round-preview-off'] {
  --svg: url('../icons/material-symbols--preview-off-rounded.svg');
}

[data-icon='outline-people'] {
  --svg: url('../icons/ic--outline-people-outline.svg');
}

[data-icon='outline-person-add'] {
  --svg: url('../icons/ic--outline-person-add-alt.svg');
}

[data-icon='outline-preview'] {
  --svg: url('../icons/ic--outline-preview.svg');
}

[data-icon='outline-remove-moderator'] {
  --svg: url('../icons/ic--outline-remove-moderator.svg');
}

[data-icon='outline-reply-all'] {
  --svg: url('../icons/ic--outline-reply-all.svg');
}

[data-icon='outline-reply'] {
  --svg: url('../icons/ic--outline-reply.svg');
}

[data-icon='outline-report-problem'] {
  --svg: url('../icons/ic--outline-report-problem.svg');
}

[data-icon='outline-screen-share'] {
  --svg: url('../icons/ic--outline-screen-share.svg');
}

[data-icon='outline-settings'] {
  --svg: url('../icons/ic--outline-settings.svg');
}

[data-icon='outline-stop-screen-share'] {
  --svg: url('../icons/ic--outline-stop-screen-share.svg');
}

[data-icon='outline-table-chart'] {
  --svg: url('../icons/ic--outline-table-chart.svg');
}

[data-icon='outline-timer'] {
  --svg: url('../icons/ic--outline-timer.svg');
}

[data-icon='outline-upload-file'] {
  --svg: url('../icons/ic--outline-upload-file.svg');
}

[data-icon='outline-video-file'] {
  --svg: url('../icons/ic--outline-video-file.svg');
}

[data-icon='outline-videocam-off'] {
  --svg: url('../icons/ic--outline-videocam-off.svg');
}

[data-icon='outline-videocam'] {
  --svg: url('../icons/ic--outline-videocam.svg');
}

[data-icon='outline-wb-sunny'] {
  --svg: url('../icons/ic--outline-wb-sunny.svg');
}

[data-icon='round-add-circle-outline'] {
  --svg: url('../icons/ic--round-add-circle-outline.svg');
}

[data-icon='round-add-moderator'] {
  --svg: url('../icons/ic--round-add-moderator.svg');
}

[data-icon='round-add-reaction'] {
  --svg: url('../icons/ic--round-add-reaction.svg');
}

[data-icon='round-apps'] {
  --svg: url('../icons/ic--round-apps.svg');
}

[data-icon='round-add'] {
  --svg: url('../icons/ic--round-add.svg');
}

[data-icon='round-arrow-back'] {
  --svg: url('../icons/ic--round-arrow-back.svg');
}

[data-icon='round-arrow-downward'] {
  --svg: url('../icons/ic--round-arrow-downward.svg');
}

[data-icon='round-arrow-forward'] {
  --svg: url('../icons/ic--round-arrow-forward.svg');
}

[data-icon='round-arrow-upward'] {
  --svg: url('../icons/ic--round-arrow-upward.svg');
}

[data-icon='round-attach-file'] {
  --svg: url('../icons/ic--round-attach-file.svg');
}

[data-icon='round-bookmark'] {
  --svg: url('../icons/ic--round-bookmark.svg');
}

[data-icon='round-brush'] {
  --svg: url('../icons/ic--round-brush.svg');
}

[data-icon='round-call-end'] {
  --svg: url('../icons/ic--round-call-end.svg');
}

[data-icon='round-call-made'] {
  --svg: url('../icons/ic--round-call-made.svg');
}

[data-icon='round-call-received'] {
  --svg: url('../icons/ic--round-call-received.svg');
}

[data-icon='round-cancel-schedule-send'] {
  --svg: url('../icons/ic--round-cancel-schedule-send.svg');
}

[data-icon='round-check-box-outline-blank'] {
  --svg: url('../icons/ic--round-check-box-outline-blank.svg');
}

[data-icon='round-check-box'] {
  --svg: url('../icons/ic--round-check-box.svg');
}

[data-icon='round-check-circle-outline'] {
  --svg: url('../icons/ic--round-check-circle-outline.svg');
}

[data-icon='round-check-circle'] {
  --svg: url('../icons/ic--round-check-circle.svg');
}

[data-icon='round-check'] {
  --svg: url('../icons/ic--round-check.svg');
}

[data-icon='round-close'] {
  --svg: url('../icons/ic--round-close.svg');
}

[data-icon='round-cloud-off'] {
  --svg: url('../icons/ic--round-cloud-off.svg');
}

[data-icon='round-cloud-sync'] {
  --svg: url('../icons/ic--round-cloud-sync.svg');
}

[data-icon='round-code'] {
  --svg: url('../icons/ic--round-code.svg');
}

[data-icon='round-color-lens'] {
  --svg: url('../icons/ic--round-color-lens.svg');
}

[data-icon='round-content-copy'] {
  --svg: url('../icons/ic--round-content-copy.svg');
}

[data-icon='round-done-all'] {
  --svg: url('../icons/ic--round-done-all.svg');
}

[data-icon='round-done'] {
  --svg: url('../icons/ic--round-done.svg');
}

[data-icon='round-drag-handle'] {
  --svg: url('../icons/ic--round-drag-handle.svg');
}

[data-icon='round-edit'] {
  --svg: url('../icons/ic--round-edit.svg');
}

[data-icon='round-eject'] {
  --svg: url('../icons/ic--round-eject.svg');
}

[data-icon='round-fast-forward'] {
  --svg: url('../icons/ic--round-fast-forward.svg');
}

[data-icon='round-file-download'] {
  --svg: url('../icons/ic--round-file-download.svg');
}

[data-icon='round-file-upload'] {
  --svg: url('../icons/ic--round-file-upload.svg');
}

[data-icon='round-folder'] {
  --svg: url('../icons/ic--round-folder.svg');
}

[data-icon='round-format-align-center'] {
  --svg: url('../icons/ic--round-format-align-center.svg');
}

[data-icon='round-format-align-justify'] {
  --svg: url('../icons/ic--round-format-align-justify.svg');
}

[data-icon='round-format-align-left'] {
  --svg: url('../icons/ic--round-format-align-left.svg');
}

[data-icon='round-format-align-right'] {
  --svg: url('../icons/ic--round-format-align-right.svg');
}

[data-icon='round-format-bold'] {
  --svg: url('../icons/ic--round-format-bold.svg');
}

[data-icon='round-format-color-fill'] {
  --svg: url('../icons/ic--round-format-color-fill.svg');
}

[data-icon='round-format-color-text'] {
  --svg: url('../icons/ic--round-format-color-text.svg');
}

[data-icon='round-format-indent-decrease'] {
  --svg: url('../icons/ic--round-format-indent-decrease.svg');
}

[data-icon='round-format-indent-increase'] {
  --svg: url('../icons/ic--round-format-indent-increase.svg');
}

[data-icon='round-format-italic'] {
  --svg: url('../icons/ic--round-format-italic.svg');
}

[data-icon='round-format-list-bulleted'] {
  --svg: url('../icons/ic--round-format-list-bulleted.svg');
}

[data-icon='round-format-list-numbered'] {
  --svg: url('../icons/ic--round-format-list-numbered.svg');
}

[data-icon='round-format-quote'] {
  --svg: url('../icons/ic--round-format-quote.svg');
}

[data-icon='round-format-size'] {
  --svg: url('../icons/ic--round-format-size.svg');
}

[data-icon='round-format-underlined'] {
  --svg: url('../icons/ic--round-format-underlined.svg');
}

[data-icon='round-headphones'] {
  --svg: url('../icons/ic--round-headphones.svg');
}

[data-icon='round-home'] {
  --svg: url('../icons/ic--round-home.svg');
}

[data-icon='round-indeterminate-check-box'] {
  --svg: url('../icons/ic--round-indeterminate-check-box.svg');
}

[data-icon='round-info'] {
  --svg: url('../icons/ic--round-info.svg');
}

[data-icon='round-key'] {
  --svg: url('../icons/ic--round-key.svg');
}

[data-icon='round-key-off'] {
  --svg: url('../icons/ic--round-key-off.svg');
}

[data-icon='round-keyboard-arrow-down'] {
  --svg: url('../icons/ic--round-keyboard-arrow-down.svg');
}

[data-icon='round-keyboard-arrow-left'] {
  --svg: url('../icons/ic--round-keyboard-arrow-left.svg');
}

[data-icon='round-keyboard-arrow-right'] {
  --svg: url('../icons/ic--round-keyboard-arrow-right.svg');
}

[data-icon='round-keyboard-arrow-up'] {
  --svg: url('../icons/ic--round-keyboard-arrow-up.svg');
}

[data-icon='round-language'] {
  --svg: url('../icons/ic--round-language.svg');
}

[data-icon='round-link'] {
  --svg: url('../icons/ic--round-link.svg');
}

[data-icon='round-lock'] {
  --svg: url('../icons/ic--round-lock.svg');
}

[data-icon='round-logout'] {
  --svg: url('../icons/ic--round-logout.svg');
}

[data-icon='round-mail'] {
  --svg: url('../icons/ic--round-mail.svg');
}

[data-icon='round-menu'] {
  --svg: url('../icons/ic--round-menu.svg');
}

[data-icon='round-mic-none'] {
  --svg: url('../icons/ic--round-mic-none.svg');
}

[data-icon='round-mic-off'] {
  --svg: url('../icons/ic--round-mic-off.svg');
}

[data-icon='round-more-horiz'] {
  --svg: url('../icons/ic--round-more-horiz.svg');
}

[data-icon='round-more-time'] {
  --svg: url('../icons/ic--round-more-time.svg');
}

[data-icon='round-more-vert'] {
  --svg: url('../icons/ic--round-more-vert.svg');
}

[data-icon='round-pattern'] {
  --svg: url('../icons/ic--round-pattern.svg');
}

[data-icon='round-pause'] {
  --svg: url('../icons/ic--round-pause.svg');
}

[data-icon='round-pause-circle-outline'] {
  --svg: url('../icons/ic--round-pause-circle-outline.svg');
}

[data-icon='round-person-outline'] {
  --svg: url('../icons/ic--round-person-outline.svg');
}

[data-icon='round-person'] {
  --svg: url('../icons/ic--round-person.svg');
}

[data-icon='round-phone-disabled'] {
  --svg: url('../icons/ic--round-phone-disabled.svg');
}

[data-icon='round-phone-in-talk'] {
  --svg: url('../icons/ic--round-phone-in-talk.svg');
}

[data-icon='round-phone-locked'] {
  --svg: url('../icons/ic--round-phone-locked.svg');
}

[data-icon='round-phone-missed'] {
  --svg: url('../icons/ic--round-phone-missed.svg');
}

[data-icon='round-phone-paused'] {
  --svg: url('../icons/ic--round-phone-paused.svg');
}

[data-icon='round-phone'] {
  --svg: url('../icons/ic--round-phone.svg');
}

[data-icon='round-plus'] {
  --svg: url('../icons/ic--round-plus.svg');
}

[data-icon='round-polyline'] {
  --svg: url('../icons/ic--round-polyline.svg');
}

[data-icon='round-play-arrow'] {
  --svg: url('../icons/ic--round-play-arrow.svg');
}

[data-icon='round-play-circle-outline'] {
  --svg: url('../icons/ic--round-play-circle-outline.svg');
}

[data-icon='round-refresh'] {
  --svg: url('../icons/ic--round-refresh.svg');
}

[data-icon='round-remove-moderator'] {
  --svg: url('../icons/ic--round-remove-moderator.svg');
}

[data-icon='round-report-gmailerrorred'] {
  --svg: url('../icons/ic--round-report-gmailerrorred.svg');
}

[data-icon='round-schedule'] {
  --svg: url('../icons/ic--round-schedule.svg');
}

[data-icon='round-schema'] {
  --svg: url('../icons/ic--round-schema.svg');
}

[data-icon='round-search'] {
  --svg: url('../icons/ic--round-search.svg');
}

[data-icon='round-send'] {
  --svg: url('../icons/ic--round-send.svg');
}

[data-icon='round-share'] {
  --svg: url('../icons/ic--round-share.svg');
}

[data-icon='round-shield'] {
  --svg: url('../icons/ic--round-shield.svg');
}

[data-icon='round-subdirectory-arrow-left'] {
  --svg: url('../icons/ic--round-subdirectory-arrow-left.svg');
}

[data-icon='round-subdirectory-arrow-right'] {
  --svg: url('../icons/ic--round-subdirectory-arrow-right.svg');
}

[data-icon='round-strikethrough'] {
  --svg: url('../icons/ic--round-strikethrough-s.svg');
}

[data-icon='round-subject'] {
  --svg: url('../icons/ic--round-subject.svg');
}

[data-icon='round-sync-lock'] {
  --svg: url('../icons/ic--round-sync-lock.svg');
}

[data-icon='round-system-update-alt'] {
  --svg: url('../icons/ic--round-system-update-alt.svg');
}

[data-icon='round-table-chart'] {
  --svg: url('../icons/ic--round-table-chart.svg');
}

[data-icon='round-text-decrease'] {
  --svg: url('../icons/ic--round-text-decrease.svg');
}

[data-icon='round-text-increase'] {
  --svg: url('../icons/ic--round-text-increase.svg');
}

[data-icon='round-unfold-more'] {
  --svg: url('../icons/ic--round-unfold-more.svg');
}

[data-icon='round-unfold-more-double'] {
  --svg: url('../icons/ic--round-unfold-more-double.svg');
}

[data-icon='round-volume-down'] {
  --svg: url('../icons/ic--round-volume-down.svg');
}

[data-icon='round-volume-mute'] {
  --svg: url('../icons/ic--round-volume-mute.svg');
}

[data-icon='round-volume-off'] {
  --svg: url('../icons/ic--round-volume-off.svg');
}

[data-icon='round-volume-up'] {
  --svg: url('../icons/ic--round-volume-up.svg');
}

[data-icon='round-warning'] {
  --svg: url('../icons/ic--round-warning.svg');
}

[data-icon='cancel'] {
  --svg: url('../icons/mdi--cancel.svg');
}

[data-icon='cloud-lock'] {
  --svg: url('../icons/mdi--cloud-lock.svg');
}

[data-icon='cloud-lock-open'] {
  --svg: url('../icons/mdi--cloud-lock-open.svg');
}

[data-icon='delete-empty'] {
  --svg: url('../icons/mdi--delete-empty.svg');
}

[data-icon='delete-empty-outline'] {
  --svg: url('../icons/mdi--delete-empty-outline.svg');
}

[data-icon='file-remove-outline'] {
  --svg: url('../icons/mdi--file-remove-outline.svg');
}

[data-icon='folder-lock'] {
  --svg: url('../icons/mdi--folder-lock.svg');
}

[data-icon='folder-lock-open'] {
  --svg: url('../icons/mdi--folder-lock-open.svg');
}

[data-icon='forward-outline'] {
  --svg: url('../icons/mdi--forward-outline.svg');
}

[data-icon='forward-off-outline'] {
  --svg: url('../icons/mdi--forward-off-outline.svg');
}

[data-icon='reply-all-outline'] {
  --svg: url('../icons/mdi--reply-all-outline.svg');
}

[data-icon='reply-outline'] {
  --svg: url('../icons/mdi--reply-outline.svg');
}

[data-icon='send-variant-outline'] {
  --svg: url('../icons/mdi--send-variant-outline.svg');
}

[data-icon='share-variant-outline'] {
  --svg: url('../icons/mdi--share-variant-outline.svg');
}

[data-icon='shield-check-outline'] {
  --svg: url('../icons/mdi--shield-check-outline.svg');
}

[data-icon='transit-connection-variant'] {
  --svg: url('../icons/mdi--transit-connection-variant.svg');
}

[data-icon='sharp-people'] {
  --svg: url('../icons/ic--sharp-people.svg');
}

[data-icon='schedule'] {
  --svg: url('../icons/material-symbols--schedule-rounded.svg');
}

[data-icon='shrink'] {
  --svg: url('../icons/ci--shrink.svg');
}

[data-icon='spinner'] {
  --svg: url('../icons/svg-spinners.svg');
}

[data-icon='spinner-3-dots-bounce'] {
  --svg: url('../icons/svg-spinners-3-dots-bounce.svg');
}

[data-icon='spinner-3-dots-fade'] {
  --svg: url('../icons/svg-spinners-3-dots-fade.svg');
}

[data-icon='spinner-3-dots-scale'] {
  --svg: url('../icons/svg-spinners-3-dots-scale.svg');
}

[data-icon='spinner-bars-scale'] {
  --svg: url('../icons/svg-spinners-bars-scale-middle.svg');
}

[data-icon='spinner-blocks-wave'] {
  --svg: url('../icons/svg-spinners-blocks-wave.svg');
}

[data-icon='spinner-bouncing-ball'] {
  --svg: url('../icons/svg-spinners-bouncing-ball.svg');
}

[data-icon='spinner-clock'] {
  --svg: url('../icons/svg-spinners-clock.svg');
}

[data-icon='spinner-clock-05'] {
  --svg: url('../icons/svg-spinners-clock-05.svg');
}

[data-icon='spinner-clock-15'] {
  --svg: url('../icons/svg-spinners-clock-15.svg');
}

[data-icon='spinner-clock-30'] {
  --svg: url('../icons/svg-spinners-clock-30.svg');
}

[data-icon='spinner-clock-60'] {
  --svg: url('../icons/svg-spinners-clock-60.svg');
}

[data-icon='splitscreen-bottom'] {
  --svg: url('../icons/material-symbols--splitscreen-bottom.svg')
}

[data-icon='splitscreen-left'] {
  --svg: url('../icons/material-symbols--splitscreen-left.svg')
}

[data-icon='splitscreen-right'] {
  --svg: url('../icons/material-symbols--splitscreen-right.svg')
}

[data-icon='splitscreen-top'] {
  --svg: url('../icons/material-symbols--splitscreen-top.svg')
}

[data-icon='stylus'] {
  --svg: url('../icons/material-symbols--stylus.svg');
}

[data-icon='sync-desktop'] {
  --svg: url('../icons/material-symbols--sync-desktop-rounded.svg');
}

[data-icon='wifi-home'] {
  --svg: url('../icons/material-symbols--wifi-home-rounded.svg');
}

[data-icon='book-open-blank-variant'] {
  --svg: url('../icons/mdi--book-open-blank-variant.svg');
}

[data-icon='app-store'] {
  --svg: url('../icons/ri--app-store-line.svg');
}

[data-icon='grid-view-line'] {
  --svg: url('../icons/si--grid-view-line.svg');
}

[data-icon='trash-can'] {
  --svg: url('../icons/mdi--trash-can.svg');
}

[data-icon='file-sync'] {
  --svg: url('../icons/mdi--file-sync.svg');
}

[data-icon='folder-sync'] {
  --svg: url('../icons/mdi--folder-sync.svg');
}

[data-icon='folder-transfer'] {
  --svg: url('../icons/mdi--folder-transfer.svg');
}

[data-icon='hand'] {
  --svg: url('../icons/ph--hand.svg');
}

[data-icon='handshake'] {
  --svg: url('../icons/ph--handshake.svg');
}

[data-icon='home-switch'] {
  --svg: url('../icons/mdi--home-switch.svg');
}

[data-icon='rectangles-two'] {
  --svg: url('../icons/ph--rectangles-two.svg');
}

[data-icon='squares-four'] {
  --svg: url('../icons/ph--squares-four.svg');
}

[data-icon='sound-wave-circle'] {
  --svg: url('../icons/fluent--sound-wave-circle.svg');
}

[data-icon='tune-variant'] {
  --svg: url('../icons/mdi--tune-variant.svg');
}

[data-icon='vector-difference'] {
  --svg: url('../icons/mdi--vector-difference.svg');
}

[data-icon='vote-recount'] {
  --svg: url('../icons/mdi--vote-recount.svg');
}

[data-icon='vote-recount-outline'] {
  --svg: url('../icons/mdi--vote-recount-outline.svg');
}

[data-icon='cloud-alt-download-loop'] {
  --svg: url('../icons/line-md--cloud-alt-download-loop.svg');
}

[data-icon='cloud-alt-upload-loop'] {
  --svg: url('../icons/line-md--cloud-alt-upload-loop.svg');
}
