@mixin reset-button-back {
  background-color: transparent;
  box-shadow: none;
}
@mixin text-overflow-ellipsis($width: 100%) {
  max-width: $width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin elevation($number: 1) {
  @if $number == 3 {
    box-shadow:
      0 3px 3px -2px var(--shadow-key-umbra-opacity),
      0 3px 4px 0 var(--shadow-key-penumbra-opacity),
      0 1px 8px 0 var(--shadow-key-ambient-opacity);
  } @else if $number == 2 {
    box-shadow:
      0 2px 1px -2px var(--shadow-key-umbra-opacity),
      0 2px 2px 0 var(--shadow-key-penumbra-opacity),
      0 1px 5px 0 var(--shadow-key-ambient-opacity);
  } @else {
    box-shadow:
      0 2px 1px -1px var(--shadow-key-umbra-opacity),
      0 1px 1px 0 var(--shadow-key-penumbra-opacity),
      0 1px 3px 0 var(--shadow-key-ambient-opacity);
  }
}
