@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ui3n-ripple {
  --ui3n-ripple-duration: 400ms;
  --ui3n-ripple-bg-color: var(--ripple);

  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple var(--ui3n-ripple-duration) linear;
  background-color: var(--ui3n-ripple-bg-color);
}

.ui3n-title {
  position: fixed;
  width: max-content;
  top: 0;
  left: 0;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--spacing-xs);
  font-size: var(--font-11);
  line-height: var(--font-12);
  font-weight: 400;
  overflow-wrap: break-word;
  white-space: break-spaces;
  box-shadow:
    0 2px 1px -1px var(--shadow-key-1),
    0 1px 1px 0 var(--shadow-key-2),
    0 1px 3px 0 var(--shadow-key-3);
  z-index: 1000;
}
