@font-face {
  font-family: Manrope, sans-serif;
  src: url("../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizelegibility;
}
@font-face {
  font-family: Manrope, sans-serif;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
}
@font-face {
  font-family: Manrope, sans-serif;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizelegibility;
}
@font-face {
  font-family: Manrope, sans-serif;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizelegibility;
}

:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-ml: 24px;
  --spacing-l: 32px;
  --white-0: #fff;
  --white-inf: rgba(255, 255, 255, 0);
  --red-0: #feeeed;
  --red-5: #fcd9d6;
  --red-10: #fbc3bf;
  --red-15: #f9aea8;
  --red-20: #f89891;
  --red-30: #f56d64;
  --red-40: #f24236;
  --red-50: #ef2008;
  --red-60: #c01a06;
  --red-70: #901305;
  --red-80: #710f04;
  --red-85: #550502;
  --red-90: #410301;
  --red-95: #320201;
  --red-100: #240100;
  --orange-0: #fffefe;
  --orange-5: #ffefe9;
  --orange-10: #ffdfd3;
  --orange-15: #ffd0be;
  --orange-20: #ffc0a8;
  --orange-30: #ffa27e;
  --orange-40: #ff8353;
  --orange-50: #ff6428;
  --orange-60: #dc5520;
  --orange-70: #b94518;
  --orenge-80: #973610;
  --orange-85: #852e0c;
  --orange-90: #742608;
  --orange-95: #621f04;
  --orange-100: #511700;
  --blue-0: #fafcff;
  --blue-5: #e3edfd;
  --blue-10: #ccdefb;
  --blue-15: #b7d0f7;
  --blue-20: #a2c2f3;
  --blue-30: #7aa6e9;
  --blue-40: #578bda;
  --blue-50: #3771c8;
  --blue-60: #2651a6;
  --blue-70: #153a84;
  --blue-80: #0f337b;
  --blue-85: #0c2964;
  --blue-90: #081e49;
  --blue-95: #05183d;
  --blue-100: #040f25;
  --emerald-0: #f7fdfc;
  --emerald-5: #e3f4f1;
  --emerald-10: #ceeae5;
  --emerald-15: #bae1d9;
  --emerald-20: #a6d8ce;
  --emerald-30: #7dc5b7;
  --emerald-40: #55b3a0;
  --emerald-50: #2ca089;
  --emerald-60: #23806e;
  --emerald-70: #1a6052;
  --emerald-80: #124037;
  --emerald-85: #0d3029;
  --emerald-90: #042520;
  --emerald-95: #031c18;
  --emerald-100: #021714;
  --grey-0: #fcfcfd;
  --grey-5: #eff0f1;
  --grey-10: #e1e3e6;
  --grey-15: #d4d6da;
  --grey-20: #c6cacf;
  --grey-30: #abb0b8;
  --grey-40: #9197a0;
  --grey-50: #777e88;
  --grey-60: #5f646d;
  --grey-70: #464a53;
  --grey-80: #3f434a;
  --grey-85: #35373b;
  --grey-90: #27282b;
  --grey-95: #1f2023;
  --grey-100: #131415;
  --font-8: 8px;
  --font-9: 9px;
  --font-10: 10px;
  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-24: 24px;
  --font-32: 32px;
}

html {
  --shadow-key-umbra-opacity: rgba(0, 0, 0, 0.2);
  --shadow-key-penumbra-opacity: rgba(0, 0, 0, 0.14);
  --shadow-key-ambient-opacity: rgba(0, 0, 0, 0.12);

  overflow: hidden;
  font-family: Manrope, sans-serif;
}

.default-theme {
  --fill-default: var(--white-0);
  --fill-hover: var(--grey-10);
  --fill-focused: var(--white-0);
  --fill-pressed: var(--grey-20);
  --fill-disabled: var(--white-0);
  --fill-s-default: var(--grey-5);
  --fill-s-hover: var(--grey-15);
  --fill-s-focused: var(--grey-0);
  --fill-s-pressed: var(--grey-30);
  --fill-s-disabled: var(--grey-5);
  --fill-accent-default: var(--blue-50);
  --fill-accent-hover: var(--blue-60);
  --fill-accent-focused: var(--blue-50);
  --fill-accent-pressed: var(--blue-70);
  --fill-accent-disabled: var(--blue-30);
  --fill-accent-selected: var(--blue-50);
  --fill-accent-unselected: var(--blue-30);
  --fill-s-accent-default: var(--white-0);
  --fill-s-accent-hover: var(--blue-10);
  --fill-s-accent-focused: var(--white-0);
  --fill-s-accent-pressed: var(--blue-20);
  --fill-s-accent-disabled: var(--blue-0);
  --fill-warning-default: var(--orange-5);
  --fill-warning-hover: var(--orange-15);
  --fill-warning-focused: var(--orange-5);
  --fill-warning-pressed: var(--orange-20);
  --fill-warning-disabled: var(--orange-0);
  --fill-success-default: var(--emerald-5);
  --fill-success-hover: var(--emerald-15);
  --fill-success-focused: var(--emerald-5);
  --fill-success-pressed: var(--emerald-20);
  --fill-success-disabled: var(--emerald-0);
  --fill-error-default: var(--red-5);
  --fill-error-hover: var(--red-15);
  --fill-error-focused: var(--red-5);
  --fill-error-pressed: var(--red-20);
  --fill-error-disabled: var(--red-0);
  --doublefill-accent-default: var(--blue-60);
  --doublefill-accent-hover: var(--blue-70);
  --doublefill-accent-focused: var(--blue-60);
  --doublefill-accent-pressed: var(--blue-80);
  --doublefill-accent-disabled: var(--blue-40);
  --doublefill-accent-selected: var(--blue-60);
  --doublefill-accent-unselected: var(--blue-40);
  --content-default: var(--grey-95);
  --content-hover: var(--grey-95);
  --content-focused: var(--grey-95);
  --content-pressed: var(--grey-95);
  --content-disabled: var(--grey-30);
  --content-s-default: var(--grey-95);
  --content-s-hover: var(--grey-95);
  --content-s-focused: var(--grey-95);
  --content-s-pressed: var(--grey-95);
  --content-s-disabled: var(--grey-30);
  --content-accent-default: var(--blue-0);
  --content-accent-hover: var(--blue-0);
  --content-accent-focused: var(--blue-0);
  --content-accent-pressed: var(--blue-5);
  --content-accent-disabled: var(--blue-0);
  --content-accent-selected: var(--blue-0);
  --content-accent-unselected: var(--blue-0);
  --content-s-accent-default: var(--blue-50);
  --content-s-accent-hover: var(--blue-50);
  --content-s-accent-focused: var(--blue-50);
  --content-s-accent-pressed: var(--blue-60);
  --content-s-accent-disabled: var(--blue-15);
  --content-s-accent-selected: var(--blue-50);
  --content-s-accent-unselected: var(--blue-30);
  --content-warning-default: var(--orange-50);
  --content-warning-hover: var(--orange-50);
  --content-warning-focused: var(--orange-50);
  --content-warning-pressed: var(--orange-60);
  --content-warning-disabled: var(--orange-20);
  --content-success-default: var(--emerald-50);
  --content-success-hover: var(--emerald-50);
  --content-success-focused: var(--emerald-50);
  --content-success-pressed: var(--emerald-60);
  --content-success-disabled: var(--emerald-20);
  --content-error-default: var(--red-50);
  --content-error-hover: var(--red-50);
  --content-error-focused: var(--red-50);
  --content-error-pressed: var(--red-60);
  --content-error-disabled: var(--red-20);
  --hint-default: var(--grey-30);
  --hint-hover: var(--grey-30);
  --hint-focused: var(--grey-30);
  --hint-pressed: var(--grey-30);
  --hint-disabled: var(--grey-15);
  --outline-default: var(--grey-5);
  --outline-hover: var(--grey-10);
  --outline-focused: var(--grey-50);
  --outline-pressed: var(--grey-10);
  --outline-disabled: var(--grey-5);
  --outline-ghost: var(--white-0);
  --outline-s-default: var(--grey-10);
  --outline-s-hover: var(--grey-15);
  --outline-s-focused: var(--grey-50);
  --outline-s-pressed: var(--grey-15);
  --outline-s-disabled: var(--grey-10);
  --outline-accent-default: var(--blue-50);
  --outline-accent-hover: var(--blue-60);
  --outline-accent-focused: var(--blue-70);
  --outline-accent-pressed: var(--blue-70);
  --outline-accent-disabled: var(--blue-10);
  --outline-accent-ghost: var(--white-inf);
  --outline-s-accent-default: var(--blue-5);
  --outline-s-accent-hover: var(--blue-10);
  --outline-s-accent-focused: var(--blue-10);
  --outline-s-accent-pressed: var(--blue-15);
  --outline-s-accent-disabled: var(--blue-0);
  --outline-warning-default: var(--orange-5);
  --outline-warning-hover: var(--orange-10);
  --outline-warning-focused: var(--orange-50);
  --outline-warning-pressed: var(--orange-10);
  --outline-warning-disabled: var(--orange-5);
  --outline-success-default: var(--emerald-5);
  --outline-success-hover: var(--emerald-10);
  --outline-success-focused: var(--emerald-50);
  --outline-success-pressed: var(--emerald-10);
  --outline-success-disabled: var(--emerald-5);
  --outline-error-default: var(--red-5);
  --outline-error-hover: var(--red-10);
  --outline-error-focused: var(--red-50);
  --outline-error-pressed: var(--red-10);
  --outline-error-disabled: var(--red-5);
}

.dark-theme {}

.colors {
  --color-bg-button-primary-default: var(--fill-accent-default);
  --color-bg-button-primary-hover: var(--fill-accent-hover);
  --color-bg-button-primary-focused: var(--fill-accent-focused);
  --color-bg-button-primary-pressed: var(--fill-accent-pressed);
  --color-bg-button-primary-disabled: var(--fill-accent-disabled);
  --color-bg-button-secondary-default: var(--fill-s-accent-default);
  --color-bg-button-secondary-hover: var(--fill-s-accent-hover);
  --color-bg-button-secondary-focused: var(--fill-s-accent-focused);
  --color-bg-button-secondary-pressed: var(--fill-s-accent-pressed);
  --color-bg-button-secondary-disabled: var(--fill-s-accent-disabled);
  --color-bg-button-tritery-default: var(--fill-s-default);
  --color-bg-button-triter-hover: var(--fill-s-hover);
  --color-bg-button-triter-focused: var(--fill-s-focused);
  --color-bg-button-triter-pressed: var(--fill-s-pressed);
  --color-bg-button-triter-disabled: var(--fill-s-disabled);
  --color-bg-control-accent-default: var(--fill-accent-default);
  --color-bg-control-accent-hover: var(--fill-accent-hover);
  --color-bg-control-focused: var(--fill-accent-focused);
  --color-bg-control-pressed: var(--fill-s-accent-pressed);
  --color-bg-control-disabled: var(--fill-s-accent-disabled);
  --color-bg-control-primary-default: var(--fill-s-accent-default);
  --color-bg-control-primary-hover: var(--fill-s-accent-hover);
  --color-bg-control-primary-focused: var(--fill-s-accent-focused);
  --color-bg-control-primary-pressed: var(--fill-s-accent-pressed);
  --color-bg-control-primary-disabled: var(--fill-s-accent-disabled);
  --color-bg-control-secondary-default: var(--fill-s-default);
  --color-bg-control-secondary-hover: var(--fill-s-hover);
  --color-bg-control-secondary-focused: var(--fill-s-focused);
  --color-bg-control-secondary-pressed: var(--fill-s-pressed);
  --color-bg-control-secondary-disabled: var(--fill-s-disabled);
  --color-bg-table-cell-default: var(--fill-default);
  --color-bg-table-cell-hover: var(--fill-hover);
  --color-bg-table-cell-focused: var(--fill-focused);
  --color-bg-table-cell-pressed: var(--fill-pressed);
  --color-bg-table-cell-disabled: var(--fill-disabled);
  --color-bg-table-cell-selected: var(--fill-s-accent-hover);
  --color-bg-table-cell-unselected: var(--fill-s-accent-hover);
  --color-bg-table-d-cell-default: var(--fill-s-default);
  --color-bg-table-d-cell-hover: var(--fill-s-hover);
  --color-bg-table-d-cell-focused: var(--fill-s-focused);
  --color-bg-table-d-cell-pressed: var(--fill-s-pressed);
  --color-bg-table-d-cell-disabled: var(--fill-s-disabled);
  --color-bg-table-d-cell-selected: var(--fill-s-accent-hover);
  --color-bg-table-d-cell-unselected: var(--fill-s-default);
  --color-bg-table-header-default: var(--fill-s-default);
  --color-bg-table-header-hover: var(--fill-s-hover);
  --color-bg-table-header-focused: var(--fill-s-focused);
  --color-bg-table-header-pressed: var(--fill-s-pressed);
  --color-bg-table-header-disabled: var(--fill-s-disabled);
  --color-bg-table-header-selected: var(--fill-s-accent-hover);
  --color-bg-table-header-unselected: var(--fill-s-accent-hover);
  --color-text-button-primary-default: var(--content-accent-default);
  --color-text-button-primary-hover: var(--content-accent-hover);
  --color-text-button-primary-focused: var(--content-accent-focused);
  --color-text-button-primary-pressed: var(--content-accent-pressed);
  --color-text-button-primary-disabled: var(--content-accent-disabled);
  --color-text-button-secondary-default: var(--content-s-accent-default);
  --color-text-button-secondary-hover: var(--content-s-accent-hover);
  --color-text-button-secondary-focused: var(--content-s-accent-focused);
  --color-text-button-secondary-pressed: var(--content-s-accent-pressed);
  --color-text-button-secondary-disabled: var(--content-s-accent-disabled);
  --color-text-button-tritery-default: var(--content-s-default);
  --color-text-button-triter-hover: var(--content-s-hover);
  --color-text-button-triter-focused: var(--content-s-focused);
  --color-text-button-trite-pressed: var(--content-s-pressed);
  --color-text-button-trite-disabled: var(--content-s-disabled);
  --color-text-control-accent-default: var(--content-s-accent-default);
  --color-text-control-accent-hover: var(--content-s-accent-hover);
  --color-text-control-accent-focused: var(--content-s-accent-focused);
  --color-text-control-accent-pressed: var(--content-s-accent-pressed);
  --color-text-control-accent-disabled: var(--content-s-accent-disabled);
  --color-text-control-primary-default: var(--content-default);
  --color-text-control-primary-hover: var(--content-hover);
  --color-text-control-primary-focused: var(--content-focused);
  --color-text-control-primary-pressed: var(--content-pressed);
  --color-text-control-primary-disabled: var(--content-disabled);
  --color-text-control-secondary-default: var(--hint-default);
  --color-text-control-secondary-hover: var(--hint-hover);
  --color-text-control-secondary-focused: var(--hint-focused);
  --color-text-control-secondary-pressed: var(--hint-pressed);
  --color-text-control-secondary-disabled: var(--hint-disabled);
  --color-text-control-warning-default: var(--content-warning-default);
  --color-text-control-warning-hover: var(--content-warning-hover);
  --color-text-control-warning-focused: var(--content-warning-focused);
  --color-text-control-warning-pressed: var(--content-warning-pressed);
  --color-text-control-warning-disabled: var(--content-warning-disabled);
  --color-text-avatar-primary-default: var(--content-accent-default);
  --color-text-avatar-primary-hover: var(--content-accent-hover);
  --color-text-avatar-primary-focused: var(--content-accent-focused);
  --color-text-avatar-primary-pressed: var(--content-accent-pressed);
  --color-text-avatar-primary-disabled: var(--content-accent-disabled);
  --color-text-table-accent-default: var(--content-s-accent-default);
  --color-text-table-accent-hover: var(--content-s-accent-hover);
  --color-text-table-accent-focused: var(--content-s-accent-focused);
  --color-text-table-accent-pressed: var(--content-s-accent-pressed);
  --color-text-table-accent-disabled: var(--content-s-accent-disabled);
  --colot-text-table-primary-default: var(--content-default);
  --colot-text-table-primary-hover: var(--content-hover);
  --colot-text-table-primary-focused: var(--content-focused);
  --colot-text-table-accent-pressed: var(--content-pressed);
  --colot-text-table-accent-disabled: var(--content-disabled);
  --color-text-table-secondary-default: var(--hint-default);
  --color-text-table-secondary-hover: var(--hint-hover);
  --color-text-table-secondary-focused: var(--hint-focused);
  --color-text-table-secondary-pressed: var(--hint-pressed);
  --color-text-table-secondary-disabled: var(--hint-disabled);
  --color-text-table-warning-default: var(--content-warning-default);
  --color-text-table-warning-hover: var(--content-warning-hover);
  --color-text-table-warning-focused: var(--content-warning-focused);
  --color-text-table-warning-pressed: var(--content-warning-pressed);
  --color-text-table-warning-disabled: var(--content-warning-disabled);
  --color-text-block-accent-default: var(--content-s-accent-default);
  --color-text-block-accent-hover: var(--content-s-accent-hover);
  --color-text-block-accent-focused: var(--content-s-accent-focused);
  --color-text-block-accent-pressed: var(--content-s-accent-pressed);
  --color-text-block-accent-disabled: var(--content-s-accent-disabled);
  --color-text-block-primary-default: var(--content-default);
  --color-text-block-primary-hover: var(--content-hover);
  --color-text-block-primary-focused: var(--content-focused);
  --color-text-block-primary-pressed: var(--content-pressed);
  --color-text-block-primary-disabled: var(--content-disabled);
  --color-text-block-secondary-default: var(--hint-default);
  --color-text-block-secondary-hover: var(--hint-hover);
  --color-text-block-secondary-focused: var(--hint-focused);
  --color-text-block-secondary-pressed: var(--hint-pressed);
  --color-text-block-secondary-disabled: var(--hint-disabled);
  --color-text-block-warning-default: var(--content-warning-default);
  --color-text-block-warning-hover: var(--content-warning-hover);
  --color-text-block-warning-focused: var(--content-warning-focused);
  --color-text-block-warning-pressed: var(--content-warning-pressed);
  --color-text-block-warning-disabled: var(--content-warning-disabled);
  --color-border-block-primary-default: var(--outline-default);
  --color-border-block-primary-hover: var(--outline-hover);
  --color-border-block-primary-focused: var(--outline-focused);
  --color-border-block-primary-pressed: var(--outline-pressed);
  --color-border-block-primary-disabled: var(--outline-disabled);
  --color-border-table-primary-default: var(--outline-default);
  --color-border-table-primary-hover: var(--outline-hover);
  --color-border-table-primary-focused: var(--outline-focused);
  --color-border-table-primary-pressed: var(--outline-pressed);
  --color-border-table-primary-disabled: var(--outline-disabled);
  --color-border-table-accent-default: var(--outline-accent-default);
  --color-border-table-accent-hover: var(--outline-accent-hover);
  --color-border-table-accent-focused: var(--outline-accent-focused);
  --color-border-table-accent-pressed: var(--outline-accent-pressed);
  --color-border-table-accent-disabled: var(--outline-accent-disabled);
  --color-border-control-accent-default: var(--content-s-accent-default);
  --color-border-control-accent-hover: var(--content-s-accent-hover);
  --color-border-control-accent-focused: var(--content-s-accent-focused);
  --color-border-control-accent-pressed: var(--content-s-accent-pressed);
  --color-border-control-accent-disabled: var(--content-s-accent-disabled);
  --color-border-control-accent-selected: var(--fill-accent-selected);
  --color-border-control-accent-unselected: var(--fill-accent-unselected);
  --color-border-control-primary-default: var(--content-default);
  --color-border-control-primary-hover: var(--content-hover);
  --color-border-control-primary-focused: var(--content-focused);
  --color-border-control-primary-pressed: var(--content-pressed);
  --color-border-control-primary-disabled: var(--content-disabled);
  --color-border-control-secondary-default: var(--hint-default);
  --color-border-control-secondary-hover: var(--hint-hover);
  --color-border-control-secondary-focused: var(--hint-focused);
  --color-border-control-secondary-pressed: var(--hint-pressed);
  --color-border-control-secondary-disabled: var(--hint-disabled);
  --color-icon-button-primary-default: var(--content-accent-default);
  --color-icon-button-primary-hover: var(--content-accent-hover);
  --color-icon-button-primary-focused: var(--content-accent-focused);
  --color-icon-button-primary-pressed: var(--content-accent-pressed);
  --color-icon-button-primary-disabled: var(--content-accent-disabled);
  --color-icon-button-secondary-default: var(--content-s-accent-default);
  --color-icon-button-secondary-hover: var(--content-s-accent-hover);
  --color-icon-button-secondary-focused: var(--content-s-accent-focused);
  --color-icon-button-secondary-pressed: var(--content-s-accent-pressed);
  --color-icon-button-secondary-disabled: var(--content-s-accent-disabled);
  --color-icon-button-tritery-default: var(--content-s-default);
  --color-icon-button-tritery-hover: var(--content-s-hover);
  --color-icon-button-tritery-focused: var(--content-s-focused);
  --color-icon-button-tritery-pressed: var(--content-s-pressed);
  --color-icon-button-tritery-disabled: var(--content-s-disabled);
  --color-icon-control-accent-default: var(--content-s-accent-default);
  --color-icon-control-accent-hover: var(--content-s-accent-hover);
  --color-icon-control-accent-focused: var(--content-s-accent-focused);
  --color-icon-control-accent-pressed: var(--content-s-accent-pressed);
  --color-icon-control-accent-disabled: var(--content-s-accent-disabled);
  --color-icon-control-accent-selected: var(--fill-accent-selected);
  --color-icon-control-accent-unselected: var(--fill-accent-unselected);
  --color-icon-control-primary-default: var(--content-default);
  --color-icon-control-primary-hover: var(--content-hover);
  --color-icon-control-primary-focused: var(--content-focused);
  --color-icon-control-primary-pressed: var(--content-pressed);
  --color-icon-control-primary-disabled: var(--content-disabled);
  --color-icon-control-secondary-default: var(--hint-default);
  --color-icon-control-secondary-hover: var(--hint-hover);
  --color-icon-control-secondary-focused: var(--hint-focused);
  --color-icon-control-secondary-pressed: var(--hint-pressed);
  --color-icon-control-secondary-disabled: var(--hint-disabled);
  --color-icon-control-warning-default: var(--content-warning-default);
  --color-icon-control-warning-hover: var(--content-warning-hover);
  --color-icon-control-warning-focused: var(--content-warning-focused);
  --color-icon-control-warning-pressed: var(--content-warning-pressed);
  --color-icon-control-warning-disabled: var(--content-warning-disabled);
  --color-icon-table-primary-default: var(--content-s-default);
  --color-icon-table-primary-hover: var(--content-s-hover);
  --color-icon-table-primary-focused: var(--content-s-focused);
  --color-icon-table-primary-pressed: var(--content-s-pressed);
  --color-icon-table-primary-disabled: var(--content-s-disabled);
  --color-icon-table-secondary-default: var(--hint-default);
  --color-icon-table-secondary-hover: var(--hint-hover);
  --color-icon-table-secondary-focused: var(--hint-focused);
  --color-icon-table-secondary-pressed: var(--hint-pressed);
  --color-icon-table-secondary-disabled: var(--hint-disabled);
  --color-icon-table-accent-default: var(--content-s-accent-default);
  --color-icon-table-accent-hover: var(--content-s-accent-hover);
  --color-icon-table-accent-focused: var(--content-s-accent-focused);
  --color-icon-table-accent-pressed: var(--content-s-accent-pressed);
  --color-icon-table-accent-disabled: var(--content-s-accent-disabled);
  --color-icon-table-accent-selected: var(--content-s-accent-selected);
  --color-icon-table-accent-unselected: var(--content-s-accent-unselected);
  --color-icon-block-accent-default: var(--content-s-accent-default);
  --color-icon-block-accent-hover: var(--content-s-accent-hover);
  --color-icon-block-accent-focused: var(--content-s-accent-focused);
  --color-icon-block-accent-pressed: var(--content-s-accent-pressed);
  --color-icon-block-accent-disabled: var(--content-s-accent-disabled);
  --color-icon-block-accent-selected: var(--fill-accent-selected);
  --color-icon-block-accent-unselected: var(--fill-accent-unselected);
  --color-icon-block-primary-default: var(--content-default);
  --color-icon-block-primary-hover: var(--content-hover);
  --color-icon-block-primary-focused: var(--content-focused);
  --color-icon-block-primary-pressed: var(--content-pressed);
  --color-icon-block-primary-disabled: var(--content-disabled);
  --color-icon-block-secondary-default: var(--hint-default);
  --color-icon-block-secondary-hover: var(--hint-hover);
  --color-icon-block-secondary-focused: var(--hint-focused);
  --color-icon-block-secondary-pressed: var(--hint-pressed);
  --color-icon-block-secondary-disabled: var(--hint-disabled);
  --color-icon-block-warning-default: var(--content-warning-default);
  --color-icon-block-warning-hover: var(--content-warning-hover);
  --color-icon-block-warning-focused: var(--content-warning-focused);
  --color-icon-block-warning-pressed: var(--content-warning-pressed);
  --color-icon-block-warning-disabled: var(--content-warning-disabled);
}

section,
div {
  box-sizing: border-box;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: var(--spacing-xs);
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--grey-30);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 50px;
  background-color: var(--grey-70);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-90);
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: var(--spacing-xs);
  height: 0;
}

::-webkit-scrollbar {
  width: var(--spacing-xs);
}

/* other CSS style classes */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* for the demo page */
#ui-3n-lib {
  position: fixed;
  inset: 0;
  background-color: var(--white-0);
}
