:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-ml: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --white-inf: rgb(255, 255, 255, 0);
  --white-100: #fff;
  --white-4: rgb(250, 250, 250, 0.04);
  --white-8: rgb(250, 250, 250, 0.08);
  --white-12: rgb(250, 250, 250, 0.12);
  --white-24: rgb(250, 250, 250, 0.24);
  --white-48: rgb(250, 250, 250, 0.48);
  --black-inf: rgb(0, 0, 0, 0);
  --black-4: rgb(0, 0, 0, 0.04);
  --black-8: rgb(0, 0, 0, 0.08);
  --black-12: rgb(0, 0, 0, 0.12);
  --black-24: rgb(0, 0, 0, 0.24);
  --black-48: rgb(0, 0, 0, 0.48);
  --black-100: #000;
  --red-0: #feeeed;
  --red-5: #fcd9d6;
  --red-10: #fbc3bf;
  --red-15: #f9aea8;
  --red-20: #f89891;
  --red-30: #f56d64;
  --red-40: #f24236;
  --red-50: #ef2008;
  --red-60: #c01a06;
  --red-70: #901305;
  --red-80: #710f04;
  --red-85: #550502;
  --red-90: #410301;
  --red-95: #320201;
  --red-100: #240100;
  --orange-0: #fffefe;
  --orange-5: #ffefe9;
  --orange-10: #ffdfd3;
  --orange-15: #ffd0be;
  --orange-20: #ffc0a8;
  --orange-30: #ffa27e;
  --orange-40: #ff8353;
  --orange-50: #ff6428;
  --orange-60: #dc5520;
  --orange-70: #b94518;
  --orange-80: #973610;
  --orange-85: #852e0c;
  --orange-90: #742608;
  --orange-95: #621f04;
  --orange-100: #511700;
  --blue-0: #fafcff;
  --blue-5: #e3edfd;
  --blue-10: #ccdefb;
  --blue-15: #b7d0f7;
  --blue-20: #a2c2f3;
  --blue-30: #7aa6e9;
  --blue-40: #578bda;
  --blue-50: #3771c8;
  --blue-60: #2651a6;
  --blue-70: #153a84;
  --blue-80: #0f337b;
  --blue-85: #0c2964;
  --blue-90: #081e49;
  --blue-95: #05183d;
  --blue-100: #040f25;
  --emerald-0: #f7fdfc;
  --emerald-5: #e3f4f1;
  --emerald-10: #ceeae5;
  --emerald-15: #bae1d9;
  --emerald-20: #a6d8ce;
  --emerald-30: #7dc5b7;
  --emerald-40: #55b3a0;
  --emerald-50: #2ca089;
  --emerald-60: #23806e;
  --emerald-70: #1a6052;
  --emerald-80: #124037;
  --emerald-85: #0d3029;
  --emerald-90: #042520;
  --emerald-95: #031c18;
  --emerald-100: #021714;
  --grey-0: #fcfcfd;
  --grey-5: #eff0f1;
  --grey-10: #e1e3e6;
  --grey-15: #d4d6da;
  --grey-20: #c6cacf;
  --grey-30: #abb0b8;
  --grey-40: #9197a0;
  --grey-50: #777e88;
  --grey-60: #5f646d;
  --grey-70: #464a53;
  --grey-80: #3f434a;
  --grey-85: #35373b;
  --grey-90: #27282b;
  --grey-95: #1f2023;
  --grey-100: #131415;
  --files-darker: rgb(0, 0, 0, 0.5);
  --files-darker-light: rgb(0, 0, 0, 0.3);
  --files-word-primary: #0078d4;
  --files-word-secondary: #a7d7f9;
  --files-excel-primary: #107c41;
  --files-excel-secondary: #86e4b8;
  --files-pdf-primary: #f20f00;
  --files-pdf-secondary: #fdc7c3;
  --files-image-primary: #4744e4;
  --files-image-secondary: #c9c8ff;
  --font-6: 6px;
  --font-8: 8px;
  --font-9: 9px;
  --font-10: 10px;
  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-24: 24px;
  --font-32: 32px;
}

.default-theme {
  --ripple: var(--white-48);
  --shadow-key-1: var(--black-12);
  --shadow-key-2: var(--black-8);
  --shadow-key-3: var(--black-4);
  --shadow-close: var(--black-4);
  --shadow-far: var(--black-8);
  --global-default: var(--grey-5);
  --global-subdefault: var(--grey-10);
  --default-fill-default: var(--white-100);
  --default-fill-hover: var(--grey-10);
  --default-fill-focused: var(--white-100);
  --default-fill-pressed: var(--grey-20);
  --default-fill-disabled: var(--white-100);
  --default-content-default: var(--grey-95);
  --default-content-hover: var(--grey-95);
  --default-content-focused: var(--grey-95);
  --default-content-pressed: var(--grey-95);
  --default-content-disabled: var(--grey-30);
  --default-hint-default: var(--grey-30);
  --default-hint-hover: var(--grey-30);
  --default-hint-focused: var(--grey-30);
  --default-hint-pressed: var(--grey-30);
  --default-hint-disabled: var(--grey-15);
  --default-outline-default: var(--grey-5);
  --default-outline-hover: var(--grey-10);
  --default-outline-focused: var(--grey-50);
  --default-outline-pressed: var(--grey-10);
  --default-outline-disabled: var(--grey-5);
  --default-outline-ghost: var(--white-100);
  --s-default-fill-default: var(--grey-5);
  --s-default-fill-hover: var(--grey-15);
  --s-default-fill-focused: var(--grey-0);
  --s-default-fill-pressed: var(--grey-30);
  --s-default-fill-disabled: var(--grey-5);
  --s-default-content-default: var(--grey-95);
  --s-default-content-hover: var(--grey-95);
  --s-default-content-focused: var(--grey-95);
  --s-default-content-pressed: var(--grey-95);
  --s-default-content-disabled: var(--grey-30);
  --s-default-outline-default: var(--grey-10);
  --s-default-outline-hover: var(--grey-15);
  --s-default-outline-focused: var(--grey-50);
  --s-default-outline-pressed: var(--grey-15);
  --s-default-outline-disabled: var(--grey-10);
  --t-default-fill-default: var(--grey-90);
  --t-default-fill-hover: var(--grey-80);
  --t-default-fill-focused: var(--grey-100);
  --t-default-fill-pressed: var(--grey-100);
  --t-default-fill-disabled: var(--grey-60);
  --t-default-content-default: var(--grey-0);
  --t-default-content-hover: var(--grey-5);
  --t-default-content-focused: var(--grey-0);
  --t-default-content-pressed: var(--grey-30);
  --t-default-content-disabled: var(--grey-20);
  --t-default-outline-default: var(--grey-0);
  --t-default-outline-hover: var(--grey-5);
  --t-default-outline-focused: var(--grey-0);
  --t-default-outline-pressed: var(--grey-30);
  --t-default-outline-disabled: var(--grey-20);
  --accent-fill-default: var(--blue-50);
  --accent-fill-hover: var(--blue-60);
  --accent-fill-focused: var(--blue-50);
  --accent-fill-pressed: var(--blue-70);
  --accent-fill-disabled: var(--blue-30);
  --accent-fill-selected: var(--blue-50);
  --accent-fill-unselected: var(--blue-30);
  --accent-doublefill-default: var(--blue-60);
  --accent-doublefill-hover: var(--blue-70);
  --accent-doublefill-focused: var(--blue-60);
  --accent-doublefill-pressed: var(--blue-80);
  --accent-doublefill-disabled: var(--blue-40);
  --accent-doublefill-selected: var(--blue-60);
  --accent-doublefill-unselected: var(--blue-40);
  --accent-content-default: var(--blue-0);
  --accent-content-hover: var(--blue-0);
  --accent-content-focused: var(--blue-0);
  --accent-content-pressed: var(--blue-5);
  --accent-content-disabled: var(--blue-0);
  --accent-content-selected: var(--blue-0);
  --accent-content-unselected: var(--blue-0);
  --accent-outline-default: var(--blue-50);
  --accent-outline-hover: var(--blue-60);
  --accent-outline-focused: var(--blue-70);
  --accent-outline-pressed: var(--blue-70);
  --accent-outline-disabled: var(--blue-10);
  --accent-outline-ghost: var(--white-inf);
  --s-accent-fill-default: var(--white-100);
  --s-accent-fill-hover: var(--blue-10);
  --s-accent-fill-focused: var(--white-100);
  --s-accent-fill-pressed: var(--blue-20);
  --s-accent-fill-disabled: var(--blue-0);
  --s-accent-content-default: var(--blue-50);
  --s-accent-content-hover: var(--blue-50);
  --s-accent-content-focused: var(--blue-50);
  --s-accent-content-pressed: var(--blue-50);
  --s-accent-content-disabled: var(--blue-20);
  --s-accent-content-selected: var(--blue-50);
  --s-accent-content-unselected: var(--blue-30);
  --s-accent-outline-default: var(--blue-5);
  --s-accent-outline-hover: var(--blue-10);
  --s-accent-outline-focused: var(--blue-10);
  --s-accent-outline-pressed: var(--blue-15);
  --s-accent-outline-disabled: var(--blue-0);
  --warning-fill-default: var(--orange-5);
  --warning-fill-hover: var(--orange-15);
  --warning-fill-focused: var(--orange-5);
  --warning-fill-pressed: var(--orange-20);
  --warning-fill-disabled: var(--orange-0);
  --warning-content-default: var(--orange-50);
  --warning-content-hover: var(--orange-50);
  --warning-content-focused: var(--orange-50);
  --warning-content-pressed: var(--orange-60);
  --warning-content-disabled: var(--orange-30);
  --warning-outline-default: var(--orange-5);
  --warning-outline-hover: var(--orange-10);
  --warning-outline-focused: var(--orange-70);
  --warning-outline-pressed: var(--orange-10);
  --warning-outline-disabled: var(--orange-5);
  --success-fill-default: var(--emerald-5);
  --success-fill-hover: var(--emerald-10);
  --success-fill-focused: var(--emerald-5);
  --success-fill-pressed: var(--emerald-20);
  --success-fill-disabled: var(--emerald-0);
  --success-content-default: var(--emerald-50);
  --success-content-hover: var(--emerald-50);
  --success-content-focused: var(--emerald-50);
  --success-content-pressed: var(--emerald-60);
  --success-content-disabled: var(--emerald-30);
  --success-outline-default: var(--emerald-5);
  --success-outline-hover: var(--emerald-10);
  --success-outline-focused: var(--emerald-70);
  --success-outline-pressed: var(--emerald-10);
  --success-outline-disabled: var(--emerald-5);
  --error-fill-default: var(--red-5);
  --error-fill-hover: var(--red-10);
  --error-fill-focused: var(--red-5);
  --error-fill-pressed: var(--red-20);
  --error-fill-disabled: var(--red-0);
  --error-content-default: var(--red-50);
  --error-content-hover: var(--red-50);
  --error-content-focused: var(--red-50);
  --error-content-pressed: var(--red-60);
  --error-content-disabled: var(--red-30);
  --error-outline-default: var(--red-5);
  --error-outline-hover: var(--red-10);
  --error-outline-focused: var(--red-70);
  --error-outline-pressed: var(--red-10);
  --error-outline-disabled: var(--red-5);
  --info-fill-default: var(--blue-5);
  --info-fill-hover: var(--blue-15);
  --info-fill-focused: var(--blue-5);
  --info-fill-pressed: var(--blue-20);
  --info-fill-disabled: var(--blue-0);
  --info-content-default: var(--blue-50);
  --info-content-hover: var(--blue-60);
  --info-content-focused: var(--blue-60);
  --info-content-pressed: var(--blue-70);
  --info-content-disabled: var(--blue-30);
  --info-outline-default: var(--blue-50);
  --info-outline-hover: var(--blue-10);
  --info-outline-focused: var(--blue-50);
  --info-outline-pressed: var(--blue-10);
  --info-outline-disabled: var(--blue-5);
}

.dark-theme {
  --ripple: var(--black-48);
  --shadow-key-1: var(--white-12);
  --shadow-key-2: var(--white-8);
  --shadow-key-3: var(--white-4);
  --shadow-close: var(--black-12);
  --shadow-far: var(--black-24);
  --global-default: var(--blue-95);
  --global-subdefault: var(--blue-90);
  --default-fill-default: var(--blue-100);
  --default-fill-hover: var(--blue-85);
  --default-fill-focused: var(--blue-100);
  --default-fill-pressed: var(--grey-70);
  --default-fill-disabled: var(--blue-100);
  --default-content-default: var(--blue-0);
  --default-content-hover: var(--blue-0);
  --default-content-focused: var(--blue-0);
  --default-content-pressed: var(--blue-0);
  --default-content-disabled: var(--blue-20);
  --default-hint-default: var(--grey-40);
  --default-hint-hover: var(--grey-40);
  --default-hint-focused: var(--grey-40);
  --default-hint-pressed: var(--grey-40);
  --default-hint-disabled: var(--grey-50);
  --default-outline-default: var(--blue-85);
  --default-outline-hover: var(--blue-80);
  --default-outline-focused: var(--blue-40);
  --default-outline-pressed: var(--blue-80);
  --default-outline-disabled: var(--blue-90);
  --default-outline-ghost: var(--white-inf);
  --s-default-fill-default: var(--blue-90);
  --s-default-fill-hover: var(--blue-85);
  --s-default-fill-focused: var(--blue-100);
  --s-default-fill-pressed: var(--blue-70);
  --s-default-fill-disabled: var(--blue-90);
  --s-default-content-default: var(--blue-0);
  --s-default-content-hover: var(--blue-0);
  --s-default-content-focused: var(--blue-0);
  --s-default-content-pressed: var(--blue-0);
  --s-default-content-disabled: var(--blue-20);
  --s-default-outline-default: var(--blue-85);
  --s-default-outline-hover: var(--blue-80);
  --s-default-outline-focused: var(--blue-50);
  --s-default-outline-pressed: var(--blue-80);
  --s-default-outline-disabled: var(--blue-85);
  --t-default-fill-default: var(--grey-0);
  --t-default-fill-hover: var(--grey-5);
  --t-default-fill-focused: var(--grey-0);
  --t-default-fill-pressed: var(--grey-30);
  --t-default-fill-disabled: var(--grey-0);
  --t-default-content-default: var(--grey-90);
  --t-default-content-hover: var(--grey-80);
  --t-default-content-focused: var(--grey-90);
  --t-default-content-pressed: var(--grey-60);
  --t-default-content-disabled: var(--grey-30);
  --t-default-outline-default: var(--grey-90);
  --t-default-outline-hover: var(--grey-80);
  --t-default-outline-focused: var(--grey-90);
  --t-default-outline-pressed: var(--grey-60);
  --t-default-outline-disabled: var(--grey-30);
  --accent-fill-default: var(--blue-50);
  --accent-fill-hover: var(--blue-60);
  --accent-fill-focused: var(--blue-50);
  --accent-fill-pressed: var(--blue-70);
  --accent-fill-disabled: var(--blue-30);
  --accent-fill-selected: var(--blue-50);
  --accent-fill-unselected: var(--blue-30);
  --accent-doublefill-default: var(--blue-60);
  --accent-doublefill-hover: var(--blue-70);
  --accent-doublefill-focused: var(--blue-60);
  --accent-doublefill-pressed: var(--blue-80);
  --accent-doublefill-disabled: var(--blue-40);
  --accent-doublefill-selected: var(--blue-60);
  --accent-doublefill-unselected: var(--blue-40);
  --accent-content-default: var(--blue-0);
  --accent-content-hover: var(--blue-0);
  --accent-content-focused: var(--blue-0);
  --accent-content-pressed: var(--blue-5);
  --accent-content-disabled: var(--blue-0);
  --accent-content-selected: var(--blue-85);
  --accent-content-unselected: var(--blue-80);
  --accent-outline-default: var(--blue-50);
  --accent-outline-hover: var(--blue-60);
  --accent-outline-focused: var(--blue-70);
  --accent-outline-pressed: var(--blue-70);
  --accent-outline-disabled: var(--blue-10);
  --accent-outline-ghost: var(--white-inf);
  --s-accent-fill-default: var(--blue-100);
  --s-accent-fill-hover: var(--blue-70);
  --s-accent-fill-focused: var(--blue-100);
  --s-accent-fill-pressed: var(--blue-85);
  --s-accent-fill-disabled: var(--blue-100);
  --s-accent-content-default: var(--blue-50);
  --s-accent-content-hover: var(--blue-50);
  --s-accent-content-focused: var(--blue-50);
  --s-accent-content-pressed: var(--blue-50);
  --s-accent-content-disabled: var(--blue-20);
  --s-accent-content-selected: var(--blue-50);
  --s-accent-content-unselected: var(--blue-30);
  --s-accent-outline-default: var(--blue-0);
  --s-accent-outline-hover: var(--blue-5);
  --s-accent-outline-focused: var(--blue-5);
  --s-accent-outline-pressed: var(--blue-10);
  --s-accent-outline-disabled: var(--blue-0);
  --warning-fill-default: var(--orange-5);
  --warning-fill-hover: var(--orange-15);
  --warning-fill-focused: var(--orange-5);
  --warning-fill-pressed: var(--orange-20);
  --warning-fill-disabled: var(--orange-0);
  --warning-content-default: var(--orange-50);
  --warning-content-hover: var(--orange-50);
  --warning-content-focused: var(--orange-50);
  --warning-content-pressed: var(--orange-60);
  --warning-content-disabled: var(--orange-30);
  --warning-outline-default: var(--orange-5);
  --warning-outline-hover: var(--orange-10);
  --warning-outline-focused: var(--orange-70);
  --warning-outline-pressed: var(--orange-10);
  --warning-outline-disabled: var(--orange-5);
  --success-fill-default: var(--emerald-5);
  --success-fill-hover: var(--emerald-10);
  --success-fill-focused: var(--emerald-5);
  --success-fill-pressed: var(--emerald-20);
  --success-fill-disabled: var(--emerald-0);
  --success-content-default: var(--emerald-50);
  --success-content-hover: var(--emerald-50);
  --success-content-focused: var(--emerald-50);
  --success-content-pressed: var(--emerald-60);
  --success-content-disabled: var(--emerald-30);
  --success-outline-default: var(--emerald-5);
  --success-outline-hover: var(--emerald-10);
  --success-outline-focused: var(--emerald-70);
  --success-outline-pressed: var(--emerald-10);
  --success-outline-disabled: var(--emerald-5);
  --error-fill-default: var(--red-5);
  --error-fill-hover: var(--red-10);
  --error-fill-focused: var(--red-5);
  --error-fill-pressed: var(--red-20);
  --error-fill-disabled: var(--red-0);
  --error-content-default: var(--red-50);
  --error-content-hover: var(--red-50);
  --error-content-focused: var(--red-50);
  --error-content-pressed: var(--red-60);
  --error-content-disabled: var(--red-30);
  --error-outline-default: var(--red-5);
  --error-outline-hover: var(--red-10);
  --error-outline-focused: var(--red-70);
  --error-outline-pressed: var(--red-10);
  --error-outline-disabled: var(--red-5);
  --info-fill-default: var(--blue-5);
  --info-fill-hover: var(--blue-15);
  --info-fill-focused: var(--blue-5);
  --info-fill-pressed: var(--blue-20);
  --info-fill-disabled: var(--blue-0);
  --info-content-default: var(--blue-50);
  --info-content-hover: var(--blue-60);
  --info-content-focused: var(--blue-60);
  --info-content-pressed: var(--blue-70);
  --info-content-disabled: var(--blue-30);
  --info-outline-default: var(--blue-50);
  --info-outline-hover: var(--blue-10);
  --info-outline-focused: var(--blue-50);
  --info-outline-pressed: var(--blue-10);
  --info-outline-disabled: var(--blue-5);
}

.dark2-theme {
  --ripple: var(--black-48);
  --shadow-key-1: var(--white-12);
  --shadow-key-2: var(--white-8);
  --shadow-key-3: var(--white-4);
  --shadow-close: var(--black-12);
  --shadow-far: var(--black-24);
  --global-default: var(--grey-95);
  --global-subdefault: var(--grey-90);
  --default-fill-default: var(--grey-100);
  --default-fill-hover: var(--grey-85);
  --default-fill-focused: var(--grey-100);
  --default-fill-pressed: var(--grey-70);
  --default-fill-disabled: var(--grey-100);
  --default-content-default: var(--grey-0);
  --default-content-hover: var(--grey-0);
  --default-content-focused: var(--grey-0);
  --default-content-pressed: var(--grey-0);
  --default-content-disabled: var(--grey-20);
  --default-hint-default: var(--grey-40);
  --default-hint-hover: var(--grey-40);
  --default-hint-focused: var(--grey-40);
  --default-hint-pressed: var(--grey-40);
  --default-hint-disabled: var(--grey-50);
  --default-outline-default: var(--grey-80);
  --default-outline-hover: var(--grey-70);
  --default-outline-focused: var(--grey-30);
  --default-outline-pressed: var(--grey-70);
  --default-outline-disabled: var(--grey-85);
  --default-outline-ghost: var(--white-inf);
  --s-default-fill-default: var(--grey-80);
  --s-default-fill-hover: var(--grey-70);
  --s-default-fill-focused: var(--grey-100);
  --s-default-fill-pressed: var(--grey-50);
  --s-default-fill-disabled: var(--grey-80);
  --s-default-content-default: var(--grey-0);
  --s-default-content-hover: var(--grey-0);
  --s-default-content-focused: var(--grey-0);
  --s-default-content-pressed: var(--grey-0);
  --s-default-content-disabled: var(--grey-20);
  --s-default-outline-default: var(--grey-70);
  --s-default-outline-hover: var(--grey-60);
  --s-default-outline-focused: var(--grey-30);
  --s-default-outline-pressed: var(--grey-60);
  --s-default-outline-disabled: var(--grey-70);
  --t-default-fill-default: var(--grey-0);
  --t-default-fill-hover: var(--grey-5);
  --t-default-fill-focused: var(--grey-0);
  --t-default-fill-pressed: var(--grey-30);
  --t-default-fill-disabled: var(--grey-0);
  --t-default-content-default: var(--grey-90);
  --t-default-content-hover: var(--grey-80);
  --t-default-content-focused: var(--grey-90);
  --t-default-content-pressed: var(--grey-60);
  --t-default-content-disabled: var(--grey-30);
  --t-default-outline-default: var(--grey-90);
  --t-default-outline-hover: var(--grey-80);
  --t-default-outline-focused: var(--grey-90);
  --t-default-outline-pressed: var(--grey-60);
  --t-default-outline-disabled: var(--grey-30);
  --accent-fill-default: var(--blue-40);
  --accent-fill-hover: var(--blue-50);
  --accent-fill-focused: var(--blue-40);
  --accent-fill-pressed: var(--blue-60);
  --accent-fill-disabled: var(--blue-20);
  --accent-fill-selected: var(--blue-40);
  --accent-fill-unselected: var(--blue-20);
  --accent-doublefill-default: var(--blue-50);
  --accent-doublefill-hover: var(--blue-60);
  --accent-doublefill-focused: var(--blue-50);
  --accent-doublefill-pressed: var(--blue-70);
  --accent-doublefill-disabled: var(--blue-30);
  --accent-doublefill-selected: var(--blue-50);
  --accent-doublefill-unselected: var(--blue-30);
  --accent-content-default: var(--blue-0);
  --accent-content-hover: var(--blue-0);
  --accent-content-focused: var(--blue-0);
  --accent-content-pressed: var(--blue-5);
  --accent-content-disabled: var(--blue-0);
  --accent-content-selected: var(--blue-85);
  --accent-content-unselected: var(--blue-80);
  --accent-outline-default: var(--blue-40);
  --accent-outline-hover: var(--blue-50);
  --accent-outline-focused: var(--blue-60);
  --accent-outline-pressed: var(--blue-60);
  --accent-outline-disabled: var(--blue-5);
  --accent-outline-ghost: var(--white-inf);
  --s-accent-fill-default: var(--grey-100);
  --s-accent-fill-hover: var(--blue-70);
  --s-accent-fill-focused: var(--grey-100);
  --s-accent-fill-pressed: var(--blue-60);
  --s-accent-fill-disabled: var(--grey-100);
  --s-accent-content-default: var(--blue-40);
  --s-accent-content-hover: var(--blue-40);
  --s-accent-content-focused: var(--blue-40);
  --s-accent-content-pressed: var(--blue-50);
  --s-accent-content-disabled: var(--blue-15);
  --s-accent-content-selected: var(--blue-40);
  --s-accent-content-unselected: var(--blue-20);
  --s-accent-outline-default: var(--blue-0);
  --s-accent-outline-hover: var(--blue-5);
  --s-accent-outline-focused: var(--blue-5);
  --s-accent-outline-pressed: var(--blue-10);
  --s-accent-outline-disabled: var(--blue-0);
  --warning-fill-default: var(--orange-5);
  --warning-fill-hover: var(--orange-15);
  --warning-fill-focused: var(--orange-5);
  --warning-fill-pressed: var(--orange-20);
  --warning-fill-disabled: var(--orange-0);
  --warning-content-default: var(--orange-50);
  --warning-content-hover: var(--orange-50);
  --warning-content-focused: var(--orange-50);
  --warning-content-pressed: var(--orange-60);
  --warning-content-disabled: var(--orange-30);
  --warning-outline-default: var(--orange-5);
  --warning-outline-hover: var(--orange-10);
  --warning-outline-focused: var(--orange-70);
  --warning-outline-pressed: var(--orange-10);
  --warning-outline-disabled: var(--orange-5);
  --success-fill-default: var(--emerald-5);
  --success-fill-hover: var(--emerald-10);
  --success-fill-focused: var(--emerald-5);
  --success-fill-pressed: var(--emerald-20);
  --success-fill-disabled: var(--emerald-0);
  --success-content-default: var(--emerald-50);
  --success-content-hover: var(--emerald-50);
  --success-content-focused: var(--emerald-50);
  --success-content-pressed: var(--emerald-60);
  --success-content-disabled: var(--emerald-30);
  --success-outline-default: var(--emerald-5);
  --success-outline-hover: var(--emerald-10);
  --success-outline-focused: var(--emerald-70);
  --success-outline-pressed: var(--emerald-10);
  --success-outline-disabled: var(--emerald-5);
  --error-fill-default: var(--red-5);
  --error-fill-hover: var(--red-10);
  --error-fill-focused: var(--red-5);
  --error-fill-pressed: var(--red-20);
  --error-fill-disabled: var(--red-0);
  --error-content-default: var(--red-50);
  --error-content-hover: var(--red-50);
  --error-content-focused: var(--red-50);
  --error-content-pressed: var(--red-60);
  --error-content-disabled: var(--red-30);
  --error-outline-default: var(--red-5);
  --error-outline-hover: var(--red-10);
  --error-outline-focused: var(--red-70);
  --error-outline-pressed: var(--red-10);
  --error-outline-disabled: var(--red-5);
  --info-fill-default: var(--blue-5);
  --info-fill-hover: var(--blue-15);
  --info-fill-focused: var(--blue-5);
  --info-fill-pressed: var(--blue-20);
  --info-fill-disabled: var(--blue-0);
  --info-content-default: var(--blue-50);
  --info-content-hover: var(--blue-60);
  --info-content-focused: var(--blue-60);
  --info-content-pressed: var(--blue-70);
  --info-content-disabled: var(--blue-30);
  --info-outline-default: var(--blue-50);
  --info-outline-hover: var(--blue-10);
  --info-outline-focused: var(--blue-50);
  --info-outline-pressed: var(--blue-10);
  --info-outline-disabled: var(--blue-5);
}

.colors {
  --color-bg-button-primary-default: var(--accent-fill-default);
  --color-bg-button-primary-hover: var(--accent-fill-hover);
  --color-bg-button-primary-focused: var(--accent-fill-focused);
  --color-bg-button-primary-pressed: var(--accent-fill-pressed);
  --color-bg-button-primary-disabled: var(--accent-fill-disabled);
  --color-bg-button-secondary-default: var(--s-accent-fill-default);
  --color-bg-button-secondary-hover: var(--s-accent-fill-hover);
  --color-bg-button-secondary-focused: var(--s-accent-fill-focused);
  --color-bg-button-secondary-pressed: var(--s-accent-fill-pressed);
  --color-bg-button-secondary-disabled: var(--s-accent-fill-disabled);
  --color-bg-button-tritery-default: var(--s-default-fill-default);
  --color-bg-button-tritery-hover: var(--s-default-fill-hover);
  --color-bg-button-tritery-focused: var(--s-default-fill-focused);
  --color-bg-button-tritery-pressed: var(--s-default-fill-pressed);
  --color-bg-button-tritery-disabled: var(--s-default-fill-disabled);
  --color-bg-block-primary-default: var(--default-fill-default);
  --color-bg-block-primary-hover: var(--default-fill-hover);
  --color-bg-block-primary-focused: var(--default-fill-focused);
  --color-bg-block-primary-pressed: var(--default-fill-pressed);
  --color-bg-block-primary-disabled: var(--default-fill-disabled);
  --color-bg-block-tritery-default: var(--default-content-default);
  --color-bg-block-tritery-hover: var(--default-content-hover);
  --color-bg-block-tritery-focused: var(--default-content-focused);
  --color-bg-block-tritery-pressed: var(--default-content-pressed);
  --color-bg-block-tritery-disabled: var(--default-content-disabled);
  --color-bg-block-darkery-default: var(--t-default-fill-default);
  --color-bg-block-darkery-hover: var(--t-default-fill-hover);
  --color-bg-block-darkery-focused: var(--t-default-fill-focused);
  --color-bg-block-darkery-pressed: var(--t-default-fill-pressed);
  --color-bg-block-darkery-disabled: var(--t-default-fill-disabled);
  --color-bg-control-accent-default: var(--accent-fill-default);
  --color-bg-control-accent-hover: var(--accent-fill-hover);
  --color-bg-control-accent-focused: var(--accent-fill-focused);
  --color-bg-control-accent-pressed: var(--accent-fill-pressed);
  --color-bg-control-accent-disabled: var(--accent-fill-disabled);
  --color-bg-control-primary-default: var(--s-accent-fill-default);
  --color-bg-control-primary-hover: var(--s-accent-fill-hover);
  --color-bg-control-primary-focused: var(--s-accent-fill-focused);
  --color-bg-control-primary-pressed: var(--s-accent-fill-pressed);
  --color-bg-control-primary-disabled: var(--s-accent-fill-disabled);
  --color-bg-control-secondary-default: var(--s-default-fill-default);
  --color-bg-control-secondary-hover: var(--s-default-fill-hover);
  --color-bg-control-secondary-focused: var(--s-default-fill-focused);
  --color-bg-control-secondary-pressed: var(--s-default-fill-pressed);
  --color-bg-control-secondary-disabled: var(--s-default-fill-disabled);
  --color-bg-table-cell-default: var(--default-fill-default);
  --color-bg-table-cell-hover: var(--default-fill-hover);
  --color-bg-table-cell-focused: var(--default-fill-focused);
  --color-bg-table-cell-pressed: var(--default-fill-pressed);
  --color-bg-table-cell-disabled: var(--default-fill-disabled);
  --color-bg-table-cell-selected: var(--s-accent-fill-hover);
  --color-bg-table-cell-unselected: var(--s-accent-fill-hover);
  --color-bg-table-d-cell-default: var(--s-default-fill-default);
  --color-bg-table-d-cell-hover: var(--s-default-fill-hover);
  --color-bg-table-d-cell-focused: var(--s-default-fill-focused);
  --color-bg-table-d-cell-pressed: var(--s-default-fill-pressed);
  --color-bg-table-d-cell-disabled: var(--s-default-fill-disabled);
  --color-bg-table-d-cell-selected: var(--s-accent-fill-hover);
  --color-bg-table-d-cell-unselected: var(--s-default-fill-default);
  --color-bg-table-header-default: var(--s-default-fill-default);
  --color-bg-table-header-hover: var(--s-default-fill-hover);
  --color-bg-table-header-focused: var(--s-default-fill-focused);
  --color-bg-table-header-pressed: var(--s-default-fill-pressed);
  --color-bg-table-header-disabled: var(--s-default-fill-disabled);
  --color-bg-table-header-selected: var(--s-accent-fill-hover);
  --color-bg-table-header-unselected: var(--s-accent-fill-hover);
  --color-bg-chat-bubble-general-bg: var(--global-default);
  --color-bg-chat-bubble-general-subbg: var(--global-subdefault);
  --color-bg-chat-bubble-user-default: var(--s-accent-fill-hover);
  --color-bg-chat-bubble-user-quote: var(--s-accent-fill-hover);
  --color-bg-chat-bubble-user-selected: var(--accent-fill-pressed);
  --color-bg-chat-bubble-user-quote-selected: var(--accent-fill-default);
  --color-bg-chat-bubble-other-default: var(--default-fill-default);
  --color-bg-chat-bubble-other-quote: var(--s-default-fill-hover);
  --color-bg-chat-bubble-other-selected: var(--accent-fill-pressed);
  --color-bg-chat-bubble-other-quote-selected: var(--accent-fill-default);
  --color-text-button-primary-default: var(--accent-content-default);
  --color-text-button-primary-hover: var(--accent-content-hover);
  --color-text-button-primary-focused: var(--accent-content-focused);
  --color-text-button-primary-pressed: var(--accent-content-pressed);
  --color-text-button-primary-disabled: var(--accent-content-disabled);
  --color-text-button-secondary-default: var(--s-accent-content-default);
  --color-text-button-secondary-hover: var(--s-accent-content-hover);
  --color-text-button-secondary-focused: var(--s-accent-content-focused);
  --color-text-button-secondary-pressed: var(--s-accent-content-pressed);
  --color-text-button-secondary-disabled: var(--s-accent-content-disabled);
  --color-text-button-tritery-default: var(--s-default-content-default);
  --color-text-button-tritery-hover: var(--s-default-content-hover);
  --color-text-button-tritery-focused: var(--s-default-content-focused);
  --color-text-button-tritery-pressed: var(--s-default-content-pressed);
  --color-text-button-tritery-disabled: var(--s-default-content-disabled);
  --color-text-control-accent-default: var(--s-accent-content-default);
  --color-text-control-accent-hover: var(--s-accent-content-hover);
  --color-text-control-accent-focused: var(--s-accent-content-focused);
  --color-text-control-accent-pressed: var(--s-accent-content-pressed);
  --color-text-control-accent-disabled: var(--s-accent-content-disabled);
  --color-text-control-primary-default: var(--default-content-default);
  --color-text-control-primary-hover: var(--default-content-hover);
  --color-text-control-primary-focused: var(--default-content-focused);
  --color-text-control-primary-pressed: var(--default-content-pressed);
  --color-text-control-primary-disabled: var(--default-content-disabled);
  --color-text-control-secondary-default: var(--default-hint-default);
  --color-text-control-secondary-hover: var(--default-hint-hover);
  --color-text-control-secondary-focused: var(--default-hint-focused);
  --color-text-control-secondary-pressed: var(--default-hint-pressed);
  --color-text-control-secondary-disabled: var(--default-hint-disabled);
  --color-text-control-tritery-default: var(--accent-content-default);
  --color-text-control-tritery-hover: var(--accent-content-hover);
  --color-text-control-tritery-focused: var(--accent-content-focused);
  --color-text-control-tritery-pressed: var(--accent-content-pressed);
  --color-text-control-tritery-disabled: var(--accent-content-disabled);
  --color-text-control-warning-default: var(--warning-content-default);
  --color-text-control-warning-hover: var(--warning-content-hover);
  --color-text-control-warning-focused: var(--warning-content-focused);
  --color-text-control-warning-pressed: var(--warning-content-pressed);
  --color-text-control-warning-disabled: var(--warning-content-disabled);
  --color-text-avatar-primary-default: var(--accent-content-default);
  --color-text-avatar-primary-hover: var(--accent-content-hover);
  --color-text-avatar-primary-focused: var(--accent-content-focused);
  --color-text-avatar-primary-pressed: var(--accent-content-pressed);
  --color-text-avatar-primary-disabled: var(--accent-content-disabled);
  --color-text-table-accent-default: var(--s-accent-content-default);
  --color-text-table-accent-hover: var(--s-accent-content-hover);
  --color-text-table-accent-focused: var(--s-accent-content-focused);
  --color-text-table-accent-pressed: var(--s-accent-content-pressed);
  --color-text-table-accent-disabled: var(--s-accent-content-disabled);
  --color-text-table-primary-default: var(--default-content-default);
  --color-text-table-primary-hover: var(--default-content-hover);
  --color-text-table-primary-focused: var(--default-content-focused);
  --color-text-table-primary-pressed: var(--default-content-pressed);
  --color-text-table-primary-disabled: var(--default-content-disabled);
  --color-text-table-secondary-default: var(--default-hint-default);
  --color-text-table-secondary-hover: var(--default-hint-hover);
  --color-text-table-secondary-focused: var(--default-hint-focused);
  --color-text-table-secondary-pressed: var(--default-hint-pressed);
  --color-text-table-secondary-disabled: var(--default-hint-disabled);
  --color-text-table-warning-default: var(--warning-content-default);
  --color-text-table-warning-hover: var(--warning-content-hover);
  --color-text-table-warning-focused: var(--warning-content-focused);
  --color-text-table-warning-pressed: var(--warning-content-pressed);
  --color-text-table-warning-disabled: var(--warning-content-disabled);
  --color-text-block-accent-default: var(--s-accent-content-default);
  --color-text-block-accent-hover: var(--s-accent-content-hover);
  --color-text-block-accent-focused: var(--s-accent-content-focused);
  --color-text-block-accent-pressed: var(--s-accent-content-pressed);
  --color-text-block-accent-disabled: var(--s-accent-content-disabled);
  --color-text-block-primary-default: var(--default-content-default);
  --color-text-block-primary-hover: var(--default-content-hover);
  --color-text-block-primary-focused: var(--default-content-focused);
  --color-text-block-primary-pressed: var(--default-content-pressed);
  --color-text-block-primary-disabled: var(--default-content-disabled);
  --color-text-block-secondary-default: var(--default-hint-default);
  --color-text-block-secondary-hover: var(--default-hint-hover);
  --color-text-block-secondary-focused: var(--default-hint-focused);
  --color-text-block-secondary-pressed: var(--default-hint-pressed);
  --color-text-block-secondary-disabled: var(--default-hint-disabled);
  --color-text-block-darkery-default: var(--t-default-content-default);
  --color-text-block-darkery-hover: var(--t-default-content-hover);
  --color-text-block-darkery-focused: var(--t-default-content-focused);
  --color-text-block-darkery-pressed: var(--t-default-content-pressed);
  --color-text-block-darkery-disabled: var(--t-default-content-disabled);
  --color-text-block-warning-default: var(--warning-content-default);
  --color-text-block-warning-hover: var(--warning-content-hover);
  --color-text-block-warning-focused: var(--warning-content-focused);
  --color-text-block-warning-pressed: var(--warning-content-pressed);
  --color-text-block-warning-disabled: var(--warning-content-disabled);
  --color-text-chat-bubble-user-default: var(--default-content-default);
  --color-text-chat-bubble-user-selected: var(--accent-content-default);
  --color-text-chat-bubble-user-quote: var(--default-content-default);
  --color-text-chat-bubble-user-quote-header: var(--s-accent-content-default);
  --color-text-chat-bubble-user-quote-selected: var(--accent-content-default);
  --color-text-chat-bubble-user-sub: var(--s-accent-content-unselected);
  --color-text-chat-bubble-user-sub-selected: var(--accent-content-default);
  --color-text-chat-bubble-user-sub-quote: var(--s-accent-content-unselected);
  --color-text-chat-bubble-other-default: var(--default-content-default);
  --color-text-chat-bubble-other-selected: var(--accent-content-default);
  --color-text-chat-bubble-other-quote: var(--default-content-default);
  --color-text-chat-bubble-other-quote-header: var(--s-accent-content-default);
  --color-text-chat-bubble-other-quote-selected: var(--accent-content-default);
  --color-text-chat-bubble-other-sub: var(--default-hint-default);
  --color-text-chat-bubble-other-sub-selected: var(--accent-content-default);
  --color-text-chat-bubble-other-sub-quote: var(--default-hint-default);
  --color-border-button-primary-focused: var(--accent-outline-focused);
  --color-border-button-secondary-focused: var(--s-accent-outline-focused);
  --color-border-button-tritery-focused: var(--s-default-outline-focused);
  --color-border-block-primary-default: var(--default-outline-default);
  --color-border-block-primary-hover: var(--default-outline-hover);
  --color-border-block-primary-focused: var(--default-outline-focused);
  --color-border-block-primary-pressed: var(--default-outline-pressed);
  --color-border-block-primary-disabled: var(--default-outline-disabled);
  --color-border-table-primary-default: var(--default-outline-default);
  --color-border-table-primary-hover: var(--default-outline-hover);
  --color-border-table-primary-focused: var(--default-outline-focused);
  --color-border-table-primary-pressed: var(--default-outline-pressed);
  --color-border-table-primary-disabled: var(--default-outline-disabled);
  --color-border-table-accent-default: var(--accent-outline-default);
  --color-border-table-accent-hover: var(--accent-outline-hover);
  --color-border-table-accent-focused: var(--accent-outline-focused);
  --color-border-table-accent-pressed: var(--accent-outline-pressed);
  --color-border-table-accent-disabled: var(--accent-outline-disabled);
  --color-border-control-accent-default: var(--s-accent-content-default);
  --color-border-control-accent-hover: var(--s-accent-content-hover);
  --color-border-control-accent-focused: var(--s-accent-content-focused);
  --color-border-control-accent-pressed: var(--s-accent-content-pressed);
  --color-border-control-accent-disabled: var(--s-accent-content-disabled);
  --color-border-control-accent-selected: var(--accent-fill-selected);
  --color-border-control-accent-unselected: var(--accent-fill-unselected);
  --color-border-control-primary-default: var(--default-content-default);
  --color-border-control-primary-hover: var(--default-content-hover);
  --color-border-control-primary-focused: var(--default-content-focused);
  --color-border-control-primary-pressed: var(--default-content-pressed);
  --color-border-control-primary-disabled: var(--default-content-disabled);
  --color-border-control-secondary-default: var(--default-hint-default);
  --color-border-control-secondary-hover: var(--default-hint-hover);
  --color-border-control-secondary-focused: var(--default-hint-focused);
  --color-border-control-secondary-pressed: var(--default-hint-pressed);
  --color-border-control-secondary-disabled: var(--default-hint-disabled);
  --color-border-control-tritery-default: var(--accent-content-default);
  --color-border-control-tritery-hover: var(--accent-content-hover);
  --color-border-control-tritery-focused: var(--accent-content-focused);
  --color-border-control-tritery-pressed: var(--accent-content-pressed);
  --color-border-control-tritery-disabled: var(--accent-content-disabled);
  --color-icon-button-primary-default: var(--accent-content-default);
  --color-icon-button-primary-hover: var(--accent-content-hover);
  --color-icon-button-primary-focused: var(--accent-content-focused);
  --color-icon-button-primary-pressed: var(--accent-content-pressed);
  --color-icon-button-primary-disabled: var(--accent-content-disabled);
  --color-icon-button-secondary-default: var(--s-accent-content-default);
  --color-icon-button-secondary-hover: var(--s-accent-content-hover);
  --color-icon-button-secondary-focused: var(--s-accent-content-focused);
  --color-icon-button-secondary-pressed: var(--s-accent-content-pressed);
  --color-icon-button-secondary-disabled: var(--s-accent-content-disabled);
  --color-icon-button-tritery-default: var(--s-default-content-default);
  --color-icon-button-tritery-hover: var(--s-default-content-hover);
  --color-icon-button-tritery-focused: var(--s-default-content-focused);
  --color-icon-button-tritery-pressed: var(--s-default-content-pressed);
  --color-icon-button-tritery-disabled: var(--s-default-content-disabled);
  --color-icon-control-accent-default: var(--s-accent-content-default);
  --color-icon-control-accent-hover: var(--s-accent-content-hover);
  --color-icon-control-accent-focused: var(--s-accent-content-focused);
  --color-icon-control-accent-pressed: var(--s-accent-content-pressed);
  --color-icon-control-accent-disabled: var(--s-accent-content-disabled);
  --color-icon-control-accent-selected: var(--accent-fill-selected);
  --color-icon-control-accent-unselected: var(--accent-fill-unselected);
  --color-icon-control-primary-default: var(--default-content-default);
  --color-icon-control-primary-hover: var(--default-content-hover);
  --color-icon-control-primary-focused: var(--default-content-focused);
  --color-icon-control-primary-pressed: var(--default-content-pressed);
  --color-icon-control-primary-disabled: var(--default-content-disabled);
  --color-icon-control-secondary-default: var(--default-hint-default);
  --color-icon-control-secondary-hover: var(--default-hint-hover);
  --color-icon-control-secondary-focused: var(--default-hint-focused);
  --color-icon-control-secondary-pressed: var(--default-hint-pressed);
  --color-icon-control-secondary-disabled: var(--default-hint-disabled);
  --color-icon-control-warning-default: var(--warning-content-default);
  --color-icon-control-warning-hover: var(--warning-content-hover);
  --color-icon-control-warning-focused: var(--warning-content-focused);
  --color-icon-control-warning-pressed: var(--warning-content-pressed);
  --color-icon-control-warning-disabled: var(--warning-content-disabled);
  --color-icon-table-primary-default: var(--s-default-content-default);
  --color-icon-table-primary-hover: var(--s-default-content-hover);
  --color-icon-table-primary-focused: var(--s-default-content-focused);
  --color-icon-table-primary-pressed: var(--s-default-content-pressed);
  --color-icon-table-primary-disabled: var(--s-default-content-disabled);
  --color-icon-table-secondary-default: var(--default-hint-default);
  --color-icon-table-secondary-hover: var(--default-hint-hover);
  --color-icon-table-secondary-focused: var(--default-hint-focused);
  --color-icon-table-secondary-pressed: var(--default-hint-pressed);
  --color-icon-table-secondary-disabled: var(--default-hint-disabled);
  --color-icon-table-accent-default: var(--s-accent-content-default);
  --color-icon-table-accent-hover: var(--s-accent-content-hover);
  --color-icon-table-accent-focused: var(--s-accent-content-focused);
  --color-icon-table-accent-pressed: var(--s-accent-content-pressed);
  --color-icon-table-accent-disabled: var(--s-accent-content-disabled);
  --color-icon-table-accent-selected: var(--s-accent-content-selected);
  --color-icon-table-accent-unselected: var(--s-accent-content-unselected);
  --color-icon-block-accent-default: var(--s-accent-content-default);
  --color-icon-block-accent-hover: var(--s-accent-content-hover);
  --color-icon-block-accent-focused: var(--s-accent-content-focused);
  --color-icon-block-accent-pressed: var(--s-accent-content-pressed);
  --color-icon-block-accent-disabled: var(--s-accent-content-disabled);
  --color-icon-block-accent-selected: var(--accent-fill-selected);
  --color-icon-block-accent-unselected: var(--accent-fill-unselected);
  --color-icon-block-primary-default: var(--default-content-default);
  --color-icon-block-primary-hover: var(--default-content-hover);
  --color-icon-block-primary-focused: var(--default-content-focused);
  --color-icon-block-primary-pressed: var(--default-content-pressed);
  --color-icon-block-primary-disabled: var(--default-content-disabled);
  --color-icon-block-secondary-default: var(--default-hint-default);
  --color-icon-block-secondary-hover: var(--default-hint-hover);
  --color-icon-block-secondary-focused: var(--default-hint-focused);
  --color-icon-block-secondary-pressed: var(--default-hint-pressed);
  --color-icon-block-secondary-disabled: var(--default-hint-disabled);
  --color-icon-block-warning-default: var(--warning-content-default);
  --color-icon-block-warning-hover: var(--warning-content-hover);
  --color-icon-block-warning-focused: var(--warning-content-focused);
  --color-icon-block-warning-pressed: var(--warning-content-pressed);
  --color-icon-block-warning-disabled: var(--warning-content-disabled);
  --color-icon-chat-bubble-user-default: var(--default-content-default);
  --color-icon-chat-bubble-user-quote: var(--s-accent-content-default);
  --color-icon-chat-bubble-user-selected: var(--accent-content-default);
  --color-icon-chat-bubble-other-default: var(--default-content-default);
  --color-icon-chat-bubble-other-selected: var(--accent-content-selected);
  --effect-dropdown-shadow: 0 0 4px 0 var(--shadow-close), 0 4px 12px 0 var(--shadow-far);
}

html {
  overflow: hidden;
  font-family: Manrope, sans-serif;
}

section,
div {
  box-sizing: border-box;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: var(--spacing-xs);
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--s-default-outline-focused);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 50px;
  background-color: var(--default-fill-pressed);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--t-default-fill-default);
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: var(--spacing-xs);
  height: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* other CSS style classes */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ui3n-ripple {
  --ui3n-ripple-duration: 400ms;
  --ui3n-ripple-bg-color: var(--ripple);

  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple var(--ui3n-ripple-duration) linear;
  background-color: var(--ui3n-ripple-bg-color);
}

.ui3n-title {
  position: fixed;
  width: max-content;
  top: 0;
  left: 0;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--spacing-xs);
  font-size: var(--font-11);
  line-height: var(--font-12);
  font-weight: 400;
  overflow-wrap: break-word;
  white-space: break-spaces;
  box-shadow: 0 2px 1px -1px var(--shadow-key-1),
  0 1px 1px 0 var(--shadow-key-2),
  0 1px 3px 0 var(--shadow-key-3);
  z-index: 1000;
}
